---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="full-screen-section p-0 flex flex-col md:flex-row">
			<div
				class="mx-auto p-4 flex-1 prose prose-neutral bg-white/[var(--background-opacity)] md:prose-2xl"
			>
				<h1>Build Better Backends</h1>
				<p>
					The only platform that gives AI the ability to autonomously build web
					services.
				</p>
			</div>
			<div
				class="hidden bg-neutral-400/[var(--background-opacity)] md:flex-1 md:block"
			>
			</div>
		</section>

		<section class="full-screen-section">
			<h1>Completely Visual</h1>
			<p>Never touch the command line, from provision to production.</p>
		</section>

		<section class="full-screen-section">
			<h1>Full Stack</h1>
			<p>
				Never manage infrastructure again. One click gets you: a database, APIs,
				deployments, hosting, etc.
			</p>
		</section>

		<section class="full-screen-section">
			<h1>Launch Faster</h1>
			<p>Logical can get systems to market in minutes instead of weeks.</p>
		</section>
	</main>
</Layout>

<script>
	// (oldVal - oldMin) * newRange / oldRange + newMin
	window.addEventListener('scroll', setScrollVar)

	function setScrollVar() {
		const htmlEl = document.documentElement,
			scrollPercentage = (htmlEl.scrollTop / htmlEl.clientHeight) * 100
		console.log(scrollPercentage)
		htmlEl.style.setProperty(
			'--scroll',
			Math.min(scrollPercentage, 100).toString()
		)
	}

	setScrollVar()
</script>
