---
import Layout from '../layouts/Layout.astro'
import '../css/landingPage.css'
---

<Layout title="Landing page practice">
  <main class="container mx-auto relative border border-emerald-400">
    <section
      class="w-full h-screen sticky top-0 flex items-center justify-center -translate-y-[var(--translate-y-hero)] border"
    >
      <div class="prose">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nemo
          odit iste, quos optio quaerat atque, saepe eligendi inventore, ex quo.
          Ea odio nam aperiam exercitationem quisquam, veniam similique commodi.
        </p>
      </div>

      <div class="flex-1 relative border border-rose-400">
        <svg
          width="580.78851mm"
          height="395.59967mm"
          viewBox="0 0 580.78851 395.59967"
          version="1.1"
          id="phone-img"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs id="defs1">
            <filter
              style="color-interpolation-filters:sRGB"
              id="filter54"
              x="-0.0097540702"
              y="-0.015659673"
              width="1.0195081"
              height="1.0313193"
            >
              <feGaussianBlur stdDeviation="2.3593628" id="feGaussianBlur54"
              ></feGaussianBlur>
            </filter>
          </defs>
          <g id="phone">
            <path
              id="path53"
              style="mix-blend-mode:normal;fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:0.268958px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;filter:url(#filter54)"
              d="m 368.52601,-76.065353 c -7.63787,0 -15.27545,4.409536 -78.33527,40.817147 C 227.1309,1.1594057 108.65596,69.560702 45.642361,105.94162 c -63.011366,36.37963 -70.558293,40.73683 -70.512492,45.11973 1e-6,1.5e-4 -2e-6,3.6e-4 0,5.1e-4 v 26.45627 5.2e-4 c 0.0059,0.54748 0.130017,1.09565 0.398942,1.66759 l 5.17e-4,5.2e-4 c 3.05e-4,6.5e-4 7.6e-4,0.001 0.001,0.002 0.268923,0.57106 0.681772,1.1662 1.265039,1.80867 6.82e-4,7.5e-4 0.0014,0.001 0.0021,0.002 0.0011,0.001 0.003,0.003 0.0041,0.004 0.584515,0.64292 1.339088,1.33349 2.2903,2.09496 0.953256,0.7631 2.103951,1.59761 3.477824,2.52698 2.747744,1.85875 6.389095,4.09706 11.1336871,6.90449 4.7445927,2.80743 10.5923057,6.18398 17.7529209,10.31823 v -5.2e-4 c 28.642509,16.53701 78.288018,45.19988 106.929891,61.73628 28.64193,16.53643 36.27983,20.94657 43.91774,20.94653 7.63792,-4e-5 15.27531,-4.40998 78.28876,-40.79079 63.01345,-36.38085 166.21028,-95.96128 237.30644,-137.0087 h 5.2e-4 c 17.77378,-10.261735 31.52014,-18.198505 42.14213,-24.400047 h 5.2e-4 c 10.62185,-6.201679 18.11928,-10.668531 23.39499,-13.990084 h 5.2e-4 c 2.62662,-1.653705 4.69943,-3.022197 6.33605,-4.18114 0.0112,-0.0079 0.024,-0.0169 0.0351,-0.02481 1.63321,-1.157917 2.82807,-2.105236 3.69331,-2.914034 0.86753,-0.810933 1.4056,-1.483518 1.72651,-2.090828 0.32091,-0.607312 0.42478,-1.149447 0.42478,-1.700672 v -26.456783 -10e-4 C 555.65256,27.562063 548.01404,23.152013 519.37361,6.6164498 490.73108,-9.9203223 441.08681,-38.58251 412.44421,-55.119316 383.80162,-71.656123 376.16384,-76.065325 368.52597,-76.065325 Z m 186.60928,109.85221 c -0.0934,0.164216 -0.33833,0.388307 -0.46561,0.56379 0.12763,-0.177221 0.37263,-0.398044 0.46561,-0.56379 z m -2.07119,2.322855 c -0.31682,0.281413 -0.84914,0.665888 -1.24541,0.982369 0.40019,-0.320083 0.92704,-0.698403 1.24541,-0.982369 z m -4.44469,3.354834 c -0.64685,0.444323 -1.52898,1.011903 -2.29806,1.516704 0.77958,-0.511814 1.64484,-1.067423 2.29806,-1.516704 z m -6.88899,4.440556 c -0.70171,0.436773 -1.08982,0.712359 -1.86397,1.187008 -0.0158,-0.0095 -0.0457,-0.02666 -0.0615,-0.03617 0.49271,-0.303763 1.46423,-0.863488 1.92546,-1.150834 z M -24.869098,151.06548 c 0.0056,0.48188 0.144419,0.96893 0.3514,1.46761 -0.207659,-0.49833 -0.345661,-0.98664 -0.3514,-1.46761 z m 0.572575,1.91358 c 0.138638,0.25958 0.367352,0.53969 0.567924,0.81235 -0.198996,-0.27017 -0.429756,-0.55508 -0.567924,-0.81235 z m 2.515609,2.86442 c 0.199734,0.17628 0.344853,0.33508 0.567924,0.51935 -0.219729,-0.18141 -0.370757,-0.34566 -0.567924,-0.51935 z m 4.862752,3.64319 c 2.013796,1.34757 4.917709,3.10337 7.92148,4.91236 -0.01288,0.008 -0.03882,0.0226 -0.05168,0.0305 -3.20934,-1.92663 -5.750951,-3.52643 -7.869804,-4.94285 z"
              transform="matrix(0.98119485,0,0,0.98628329,29.958997,108.40106)"
            ></path>
            <path
              id="path8"
              style="fill:#b3b3b3;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 393.52863,54.425527 c -7.63787,0 -15.27552,4.410089 -78.33527,40.817663 -63.05978,36.40758 -181.53484,104.80895 -244.548389,141.18983 -28.390085,16.39104 -44.44073,25.71 -54.690719,32.03112 C 3.933399,261.24778 0.16483,258.15748 0.132479,255.09493 v 26.45782 5.2e-4 c 0.0059,0.54749 0.130017,1.09565 0.398942,1.66759 l 5.17e-4,5.2e-4 c 3.05e-4,6.5e-4 7.27e-4,10e-4 0.001,0.002 0.268923,0.57106 0.681771,1.1662 1.265039,1.80867 6.82e-4,7.5e-4 0.0014,10e-4 0.0021,0.002 0.0011,0.001 0.003,0.003 0.0041,0.004 0.584515,0.64292 1.339087,1.3335 2.2903,2.09497 0.953257,0.7631 2.10395,1.5976 3.477824,2.52697 2.747747,1.85875 6.38909,4.09706 11.133687,6.90449 4.744598,2.80744 10.592299,6.18399 17.752922,10.31824 v -5.2e-4 c 28.642537,16.53702 78.28802,45.19961 106.92994,61.73603 28.64195,16.53644 36.27982,20.94657 43.91774,20.94653 7.63793,-4e-5 15.27525,-4.40994 78.28876,-40.79079 63.01351,-36.38088 166.2102,-95.96124 237.30644,-137.00869 1.7e-4,-1e-4 3.6e-4,9e-5 5.2e-4,0 17.7738,-10.26176 31.52013,-18.19852 42.14213,-24.40006 1.7e-4,-1e-4 3.5e-4,1e-4 5.2e-4,0 10.62182,-6.20145 18.11923,-10.66829 23.39495,-13.98985 1.5e-4,-9e-5 3.7e-4,1e-4 5.2e-4,0 2.62662,-1.6537 4.69943,-3.02219 6.33605,-4.18114 0.0112,-0.008 0.024,-0.0169 0.0351,-0.0248 1.63321,-1.15792 2.82807,-2.10523 3.69331,-2.91403 0.86753,-0.81094 1.4056,-1.48352 1.72651,-2.09083 0.32091,-0.60731 0.42478,-1.14945 0.42478,-1.70067 v -26.45834 c 0,2.42922 -2.08755,4.72164 -15.78715,13.12116 -5.25021,-3.16459 -11.56897,-6.86672 -20.4928,-12.0189 C 515.73376,120.57106 466.08945,91.908841 437.44687,75.372052 408.80431,58.835261 401.16649,54.425527 393.52863,54.425527 Z"
            ></path>
            <path
              style="fill:#cccccc;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 143.38862,342.16177 c 28.64199,16.53646 36.27985,20.94617 43.91779,20.94613 7.63795,-4e-5 15.2755,-4.40958 78.28913,-40.79051 63.01363,-36.38094 166.20997,-95.96137 237.30637,-137.0089 71.0964,-41.04753 77.75439,-44.89152 77.75431,-49.30128 -7e-5,-4.40976 -7.63764,-8.81931 -36.2802,-25.3561 C 515.73347,94.114319 466.08944,65.452326 437.44682,48.915503 408.8042,32.37868 401.16652,27.969061 393.52864,27.969061 c -7.63787,0 -15.27557,4.409628 -78.33546,40.817276 C 252.13328,105.19398 133.65867,173.59533 70.644998,209.97629 7.631326,246.35725 0.086153,250.71345 0.132496,255.09651 c 0.04634,4.38305 7.683899,8.7926 36.32646,25.32939 28.642562,16.53679 78.287674,45.19941 106.929664,61.73587 z"
              id="path4"></path>
            <path
              style="fill:#b3b3b3;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 78.522429,284.80156 a 11.456977,11.456977 0 0 1 11.456794,0.0643 l 45.715897,26.39408 a 3.8560268,3.8560268 0 0 1 0,6.67884 11.456982,11.456982 0 0 1 -11.45681,-0.0643 L 78.522428,291.4804 a 3.8560278,3.8560278 0 0 1 10e-7,-6.67884 z"
              id="path2"></path>
            <path
              style="fill:#666666;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="M 38.368001,241.8389 210.21993,341.05765 542.46699,149.23473 370.61506,50.015975 Z"
              id="path3"></path>
            <path
              style="fill:#b3b3b3;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 445.19661,73.102125 a 11.457537,11.457537 0 0 1 11.4568,0.129781 l 45.60239,26.328556 a 3.8938582,3.8938582 0 0 1 0,6.744358 11.457537,11.457537 0 0 1 -11.4568,-0.12978 L 445.19661,79.846486 a 3.893858,3.893858 0 0 1 0,-6.744361 z"
              id="path5"></path>
          </g>
          <g id="bubble0">
            <path
              id="path44"
              style="display:inline;fill:#2c89a0;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 233.36291,0.13245976 c -2.25002,0.0117204 -4.35186,0.70368547 -6.12248,1.86831024 l -0.005,-0.01508 -16.17421,9.324964 0.009,0.0424 c 0.004,-0.0015 0.007,-0.003 0.0108,-0.0052 0.75141,-0.397045 1.54988,-0.696497 2.38611,-0.916989 0.36407,-0.09963 0.73159,-0.184525 1.10837,-0.247278 0.35467,-0.05584 0.70537,-0.117532 1.0694,-0.139263 0.0856,-0.006 0.17052,-0.01135 0.25656,-0.01508 0.52738,-0.01941 1.05988,-0.01605 1.60141,0.04009 1.58253,0.164115 3.1127,0.660081 4.49058,1.455537 l 145.40173,83.944708 c 10.5852,6.111241 17.10594,17.405201 17.1059,29.627541 v 41.04572 8.33353 c -1.1e-4,4.3529 -2.34292,7.89012 -5.62828,9.81605 l 16.36982,-9.47349 -0.0139,-0.0178 c 3.66984,-1.80717 6.37852,-5.52621 6.37864,-10.20067 v -49.37924 c 4e-5,-12.22231 -6.52074,-23.516331 -17.1059,-29.627537 L 239.09921,1.6493304 c -1.37785,-0.7954553 -2.90766,-1.29141389 -4.4902,-1.45552903 -0.41912,-0.0434475 -0.8351,-0.0634543 -1.2461,-0.061364 z M 350.28875,174.47668 v 29.62755 l 17.10628,-9.87585 v -9.90864 z"
            ></path>
            <path
              id="path45"
              style="fill:#37abc8;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 217.50273,10.069645 c -6.70592,-0.6957276 -12.52882,4.589491 -12.48377,11.330999 l 0.33024,49.38001 c 0.0817,12.237477 6.63416,23.517773 17.22395,29.651856 l 93.50359,54.29247 34.21219,49.37925 v -29.62755 l 17.12038,9.85116 c 7.58999,4.39619 17.0914,-1.08017 17.09163,-9.85116 v -49.37924 c 4e-5,-12.22236 -6.52069,-23.51631 -17.1059,-29.62755 L 221.99331,11.525181 c -1.37789,-0.795455 -2.90804,-1.291421 -4.49058,-1.455536 z"
            ></path>
            <path
              id="path46"
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 235.25541,41.743188 a 14.258558,14.258037 0 0 0 -13.26224,14.538131 42.766405,42.764842 0 0 0 21.65552,36.876819 14.258561,14.25804 0 0 0 21.10983,-12.816789 42.766405,42.764842 0 0 0 -21.65553,-36.877335 14.258558,14.258037 0 0 0 -7.84758,-1.720826 z m 51.59116,29.79043 a 14.255772,14.255251 0 0 0 -13.43639,14.371733 42.765475,42.763913 0 0 0 21.50412,36.964149 14.255775,14.255254 0 0 0 21.26123,-12.5553 42.765476,42.763913 0 0 0 -21.50411,-36.964155 14.255772,14.255251 0 0 0 -7.82485,-1.816427 z m 51.31832,29.627132 a 14.255771,14.25525 0 0 0 -13.43639,14.37225 42.765477,42.763914 0 0 0 21.50411,36.96415 14.255775,14.255254 0 0 0 21.26124,-12.5553 42.765477,42.763914 0 0 0 -21.50412,-36.96416 14.255771,14.25525 0 0 0 -7.82484,-1.81694 z"
            ></path>
          </g>
          <g id="bubble1">
            <path
              id="path24"
              style="fill:#8800aa;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 253.32182,110.49622 c -2.25001,0.0117 -4.35186,0.70369 -6.12248,1.86831 l -0.005,-0.0151 -16.17423,9.32497 0.009,0.042 c 0.004,-10e-4 0.007,-0.003 0.0108,-0.005 0.75142,-0.39704 1.55028,-0.6965 2.3865,-0.91699 0.36408,-0.0996 0.73121,-0.18453 1.10799,-0.24728 0.35466,-0.0558 0.70537,-0.11754 1.06941,-0.13927 0.0855,-0.006 0.1705,-0.0113 0.25654,-0.0151 0.52738,-0.0194 1.05988,-0.0161 1.60141,0.0401 1.58254,0.16412 3.11271,0.66008 4.49059,1.45553 l 145.40192,83.94504 c 10.58519,6.11124 17.10594,17.40523 17.1059,29.62755 v 41.04572 8.33352 c -1.1e-4,4.3529 -2.3433,7.89014 -5.62867,9.81606 l 16.37021,-9.47349 -0.0139,-0.0178 c 3.66983,-1.80717 6.37852,-5.52622 6.37864,-10.20066 v -49.37925 c 4e-5,-12.2223 -6.52075,-23.51634 -17.1059,-29.62755 l -145.4025,-83.9443 c -1.37785,-0.79545 -2.90766,-1.29142 -4.4902,-1.45553 -0.41912,-0.0434 -0.8351,-0.0635 -1.2461,-0.0614 z m 29.53373,121.46522 3.83899,25.65059 3.72286,10.68521 17.10629,-9.87585 v -12.15154 z"
            ></path>
            <path
              id="path25"
              style="fill:#cc00ff;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 236.2161,120.37132 c -6.16506,0.0321 -11.28029,5.07256 -11.23805,11.39271 l 0.33024,49.38002 c 0.0817,12.23747 6.63417,23.51777 17.22395,29.65185 l 13.57449,7.85361 34.31077,49.64772 v -29.62754 l 45.61814,26.41869 34.21258,19.75169 17.12018,9.85117 c 7.58998,4.39618 17.09141,-1.08019 17.09163,-9.85117 v -49.37924 c 4e-5,-12.22233 -6.5207,-23.51631 -17.1059,-29.62754 L 241.9524,121.88857 c -1.37789,-0.79545 -2.90805,-1.29141 -4.49058,-1.45553 -0.41912,-0.0435 -0.83472,-0.0638 -1.24572,-0.0617 z"
            ></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 241.95211,166.645 a 42.766405,42.764842 0 0 0 21.65535,36.87699 14.258561,14.25804 0 0 0 21.1099,-12.81717 42.766405,42.764842 0 0 0 -21.65534,-36.87698 14.258558,14.258037 0 0 0 -21.10991,12.81716 z"
              id="path26"></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 293.36917,196.26911 a 42.765475,42.763913 0 0 0 21.50423,36.96424 14.255775,14.255254 0 0 0 21.26102,-12.55543 42.765476,42.763913 0 0 0 -21.50423,-36.96423 14.255772,14.255251 0 0 0 -21.26102,12.55542 z"
              id="path27"></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 344.68746,225.89667 a 42.765477,42.763914 0 0 0 21.50423,36.96423 14.255775,14.255254 0 0 0 21.26102,-12.55543 42.765477,42.763914 0 0 0 -21.50422,-36.96423 14.255771,14.25525 0 0 0 -21.26103,12.55543 z"
              id="path28"></path>
          </g>
          <g id="bubble2">
            <path
              id="path14"
              style="fill:#2c89a0;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 96.514128,79.13925 c -2.250013,0.01172 -4.35186,0.703685 -6.122478,1.86831 l -0.0052,-0.01508 -16.174219,9.324964 0.0093,0.0424 c 0.0037,-0.0015 0.0075,-0.003 0.01082,-0.0052 0.751416,-0.397045 1.549887,-0.696497 2.38611,-0.916989 0.364077,-0.09963 0.731595,-0.184525 1.10837,-0.247278 0.35467,-0.05584 0.705369,-0.117532 1.069408,-0.139263 0.08555,-0.006 0.170512,-0.01135 0.256551,-0.01508 0.527384,-0.01941 1.059882,-0.01605 1.601413,0.04009 1.582533,0.164115 3.112703,0.660081 4.490584,1.455537 L 230.54645,174.47634 c 10.5852,6.11125 17.10594,17.40521 17.1059,29.62755 v 41.04572 8.33353 c -1.1e-4,4.3529 -2.34292,7.89012 -5.62828,9.81605 l 16.36982,-9.47349 -0.0139,-0.0178 c 3.66984,-1.80717 6.37852,-5.52621 6.37864,-10.20067 v -49.37924 c 4e-5,-12.22231 -6.52074,-23.51634 -17.1059,-29.62754 L 102.25043,80.65612 c -1.37785,-0.795455 -2.907661,-1.291413 -4.490201,-1.455529 -0.419119,-0.04345 -0.835096,-0.06345 -1.246101,-0.06136 z M 213.43997,253.48347 v 29.62755 l 17.10628,-9.87585 v -9.90864 z"
            ></path>
            <path
              id="path9"
              style="fill:#37abc8;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="M 80.653945,89.076435 C 73.948032,88.380707 68.125128,93.665926 68.170182,100.40743 l 0.330236,49.38001 c 0.08175,12.23748 6.634162,23.51778 17.223955,29.65186 l 93.503587,54.29247 34.21219,49.37925 v -29.62755 l 17.12038,9.85116 c 7.58999,4.39619 17.0914,-1.08017 17.09163,-9.85116 v -49.37924 c 4e-5,-12.22236 -6.52069,-23.51631 -17.1059,-29.62755 L 85.144529,90.531971 C 83.76664,89.736516 82.236485,89.24055 80.653945,89.076435 Z"
            ></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 85.144425,135.28818 a 42.766405,42.764842 0 0 0 21.655345,36.87699 14.258561,14.25804 0 0 0 21.1099,-12.81717 42.766405,42.764842 0 0 0 -21.65534,-36.87698 14.258558,14.258037 0 0 0 -21.109905,12.81716 z"
              id="path1"></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 136.56148,164.91229 a 42.765475,42.763913 0 0 0 21.50423,36.96424 14.255775,14.255254 0 0 0 21.26102,-12.55543 42.765476,42.763913 0 0 0 -21.50423,-36.96423 14.255772,14.255251 0 0 0 -21.26102,12.55542 z"
              id="path6"></path>
            <path
              style="fill:#f9f9f9;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 187.87977,194.53985 a 42.765477,42.763914 0 0 0 21.50423,36.96423 14.255775,14.255254 0 0 0 21.26102,-12.55543 42.765477,42.763914 0 0 0 -21.50422,-36.96423 14.255771,14.25525 0 0 0 -21.26103,12.55543 z"
              id="path7"></path>
          </g>
        </svg>
      </div>
    </section>

    <section class="w-full h-screen">
      <div class="prose">
        <h1>Lorem ipsum dolor sit.</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          eius velit repudiandae, eveniet harum accusamus repellendus error iure
          tenetur asperiores, fugit totam corrupti facilis. Dolorem aspernatur
          fugit unde?
        </p>
      </div>
    </section>
    <section class="w-full h-screen"></section>
  </main>
</Layout>

<script>
  window.addEventListener('scroll', setScrollVar)
  setScrollVar()

  function setScrollVar() {
    const htmlEl = document.documentElement,
      scrollPercentage = Math.min(window.scrollY / window.innerHeight, 1) * 100

    htmlEl.style.setProperty('--scroll', scrollPercentage.toString())
  }
</script>
