---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Landing page practice">
  <main class="container mx-auto border border-emerald-400">
    <div class="w-full h-screen flex items-center justify-center">
      <div class="prose">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nemo
          odit iste, quos optio quaerat atque, saepe eligendi inventore, ex quo.
          Ea odio nam aperiam exercitationem quisquam, veniam similique commodi.
        </p>
      </div>
      <div class="flex-1 border border-rose-500">
        <img src="/images/phone.svg" alt="phone" class="w-full h-full" />
      </div>
    </div>
  </main>
</Layout>
