---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Practice 1">
  <main class="p-4">
    <section class="h-screen prose prose-neutral lg:prose-2xl">
      <h1>New practice</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt dicta
        id iusto a natus et.
      </p>
    </section>

    <section class="h-screen prose prose-neutral lg:prose-2xl">
      <h1>New practice</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt dicta
        id iusto a natus et.
      </p>
    </section>
  </main>
</Layout>
