---
import Layout from '../layouts/Layout.astro'
import '../css/scroll-snap.css'
---

<Layout title="Scroll Snap">
  <header class="h-16 w-full bg-white fixed">
    <nav
      class="h-full flex items-center justify-center gap-8 border border-rose-400"
    >
      <a href="#section-1" data-nav-link="section-1">Section 1</a>
      <a href="#section-2" data-nav-link="section-2">Section 2</a>
      <a href="#section-3" data-nav-link="section-3">Section 3</a>
    </nav>
  </header>

  <main>
    <section class="bg-emerald-400" id="section-1">
      <div class="p-16 prose prose-2xl prose-stone">
        <h1>Section 1</h1>
        <p class="lead">This is section 1</p>
      </div>
    </section>

    <section class="bg-lime-400" id="section-2">
      <div class="p-16 prose prose-2xl prose-stone">
        <h1>Section 2</h1>
        <p class="lead">This is section 2</p>
      </div>
    </section>

    <section class="bg-sky-500" id="section-3">
      <div class="p-16 prose prose-2xl prose-stone">
        <h1>Section 3</h1>
        <p class="lead">This is section 3</p>
      </div>
    </section>
  </main>
</Layout>

<script>
  const options = {
    root: null,
    rootMargin: '0px',
    threshold: 0.51,
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        // cleaning
        document
          .querySelectorAll('[data-nav-link]')
          .forEach((link) => link.classList.remove('active'))

        const currentSectionId = entry.target.getAttribute('id')

        document
          .querySelector(`[data-nav-link="${currentSectionId}"]`)
          ?.classList.add('active')

        if (currentSectionId === 'section-1')
          document.querySelector('nav')?.classList.add('bg-black', 'text-white')
        else
          document
            .querySelector('nav')
            ?.classList.remove('bg-black', 'text-white')
      }
    })
  }, options)

  document
    .querySelectorAll('section')
    .forEach((section) => observer.observe(section))
</script>
