---
import Layout from '../layouts/Layout.astro'
import '../css/scroll-snap.css'
---

<Layout title="Scroll Snap">
  <section class="bg-emerald-400">
    <div class="p-16 prose prose-2xl prose-stone">
      <h1>Section 1</h1>
      <p class="lead">This is section 1</p>
    </div>
  </section>

  <section class="bg-lime-400">
    <div class="p-16 prose prose-2xl prose-stone">
      <h1>Section 2</h1>
      <p class="lead">This is section 2</p>
    </div>
  </section>

  <section class="bg-sky-500">
    <div class="p-16 prose prose-2xl prose-stone">
      <h1>Section 3</h1>
      <p class="lead">This is section 3</p>
    </div>
  </section>
</Layout>
