---
export const prerender = true

import Layout from '../layouts/MainLayout.astro'
---

<Layout>
	<header>
		<h1 class="text-2xl font-bold uppercase">This is the home page</h1>
		<a href="/products">Visit the shop</a>
	</header>
</Layout>
