---
import '../global.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greška</title>
  </head>
  <body>
    <main class="container mt-16">
      <div
        class="mx-auto max-w-sm rounded border border-rose-700 bg-rose-500 p-8 text-white"
      >
        <h1 class="mb-4 text-center text-3xl font-bold">Došlo je do greške</h1>
        <p>Žao nam je, došlo je do greške!</p>
      </div>
    </main>
  </body>
</html>
