---
import MainNavigation from '../components/MainNavigation.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cable Shop</title>
  </head>
  <body>
    <MainNavigation />
    <slot />
  </body>
</html>
