---
import MainNavigation from '../components/MainNavigation.astro'
import CartList from '../components/cart/CartList'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cable Shop</title>
  </head>
  <body class="container mx-auto">
    <div class="drawer drawer-end">
      <input id="cart-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <MainNavigation />

        <slot name="before-main" />

        <main>
          <slot />
        </main>
      </div>
      <div class="drawer-side">
        <label for="cart-drawer" class="drawer-overlay"></label>
        <div
          class="menu p-4 w-80 h-full gap-4 overflow-y-hidden bg-base-200 text-base-content"
        >
          <label
            for="cart-drawer"
            class="ml-auto drawer-button btn btn-outline btn-circle btn-ghost btn-sm font-bold"
            >X</label
          >
          <CartList client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>
