---
import MainNavigation from '../components/MainNavigation.astro'
import CartList from '../components/cart/CartList'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cable Shop</title>
  </head>
  <body class="container mx-auto">
    <div class="drawer drawer-end">
      <input id="cart-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <MainNavigation />
        <slot />
      </div>
      <div class="drawer-side">
        <label for="cart-drawer" class="drawer-overlay"></label>
        <CartList />
      </div>
    </div>
  </body>
</html>
