---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header slot="before-main" class="mt-8 flex items-center gap-8">
    <div class="space-y-8 basis-1/2">
      <h1 class="text-3xl font-bold">Prosjek ocjena</h1>
      <p class="text-xl tracking-tight">
        Izračunajte prosjek ocjena učenika na kraju polugodišta, kao i sve
        ostale podatke koje razrednici računaju za svoje odjeljenje.
      </p>
      <a href="razred" class="block"
        ><button class="btn">Unos podataka</button></a
      >
    </div>

    <div class="basis-1/2">
      <div class="w-full h-[200px] bg-emerald-300"></div>
    </div>
  </header>

  <section class="mt-20">
    <h2 class="text-2xl font-bold">Kako funcioniše ova stranica?</h2>
    <div class="mt-4 flex gap-8">
      <article class="flex-1">
        <h3 class="mb-4 text-5xl font-bold text-emerald-500">1.</h3>
        <p>
          Prvo je potrebno izabrati razred za koji računate podatke, a
          aplikacija razumije koji su nastavni predmeti u tom razredu. Raspored
          predmeta je preuzet iz Dnevnika za izabrani razred.
        </p>
      </article>
      <article class="flex-1">
        <h3 class="mb-4 text-5xl font-bold text-emerald-600">2.</h3>
        <p>
          U drugom koraku potrebno je upisati imena i prezimena učenika. Broj
          dnevnika se određuje automatski. Možete upisati prvo slovo prezimena
          zbog bržeg unosa.
        </p>
      </article>
      <article class="flex-1">
        <h3 class="mb-4 text-5xl font-bold text-emerald-700">3.</h3>
        <p>
          Zadnji korak je unos ocjena. Aplikacija je prilagođena radu na
          telefonu i upis ocjena je poluautomatski. Nakon upisa svih ocjena
          možete provjeriti ocjene ili pogledati rezultate.
        </p>
      </article>
    </div>
  </section>

  <section class="mt-20 text-center">
    <h2 class="text-2xl font-bold mb-4">Rezultate možete odmah štampati</h2>
    <p class="mb-8 text-xl tracking-tight">
      Nakon što ste upisali sve podatke odmah možete štampati izvještaj sa
      izračunatim podacima. Podaci ostaju snimljeni na vašem uređaju ako vam
      budu potrebni kasnije.
    </p>
    <a href="razred" class="block"><button class="btn">Unos podataka</button></a
    >
  </section>
</Layout>
