#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.decks {
  padding: 0;
  list-style: none;

  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.decks li {
  position: relative;
  display: grid;
  place-content: center;

  height: 120px;
  border: 3px solid #555;
  border-radius: 12px;

  color: black;
  background: white;

  transition: border-color 0.25s;
}

.decks li:hover {
  background-color: #eee;
  border-color: #646cff;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn-close {
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  background-color: salmon;
  cursor: pointer;
}

.btn-close:hover {
  background-color: crimson;
}
