---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Hero slot="before-main" />

  <section
    class="max-w-screen-xl -mt-24 p-8 pb-24 glass text-primary-content bg-opacity-60 sm:mx-4 sm:rounded-box lg:mx-12 xl:mx-auto"
  >
    <h2
      class="text-2xl mb-24 text-center uppercase font-light tracking-wider md:text-3xl"
    >
      Osobine i prednosti
    </h2>

    <!-- Boxes Section -->

    <div
      class="flex flex-col gap-8 text-base-content sm:flex-row sm:flex-wrap sm:justify-center lg:flex-nowrap"
    >
      <div
        class="p-8 prose relative bg-base-100 rounded-box shadow text-inherit sm:flex-1 lg:prose-lg"
      >
        <img
          src="/images/cloud.svg"
          alt="clouds"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="text-primary">Stranice iz oblaka</h3>
        <p>
          Stranice se snimaju pomoću servisa koji rade sa podacima spremljenim u
          Oblaku (AWS - Amazon Web Services). Na ovaj način stranica je uvijek
          dostupna i pregledna u svako doba.
        </p>
      </div>

      <div
        class="p-8 prose bg-base-100 relative rounded-box text-inherit sm:flex-1 lg:prose-lg"
      >
        <img
          src="/images/playButton.svg"
          alt="play button"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="shadow text-accent">Brzo i pouzdano</h3>
        <p>
          Stranice se brzo učitavaju i uvijek su dostupne bez obzira gdje se
          nalazite i koji uređaj koristite za pregled stranice. Stranice se
          prilagođavaju svim ekranima od mobitela do televizora.
        </p>
      </div>

      <div
        class="p-8 prose relative bg-base-100 rounded-box shadow text-inherit sm:flex-auto lg:flex-1 lg:prose-lg"
      >
        <img
          src="/images/setting.svg"
          alt="setting"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="text-primary">Odaberite izgled</h3>
        <p>
          Stranice se mogu prilagoditi vašim potrebama i željama. Izaberite
          boje, pošaljite slike i tekst koji želite. Nakon spajanja svih
          sastojaka, dobićete stranicu koju žellite.
        </p>
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section class="my-32 px-4 py-16 border-y-2 border-neutral-focus bg-base-200">
    <div class="prose-lg mx-auto text-center lg:prose-2xl">
      <h2>Internet stranica</h2>
      <p class="lead">
        Vaš dio interneta - počnite na pravi način. Vrlo jednostavno.
      </p>
      <button class="btn btn-primary btn-xl btn-wide text-lg lg:text-2xl"
        >Kreni</button
      >
    </div>
  </section>

  <!-- Showcase section -->
  <section class="mt-24 px-4">
    <div class="mx-auto prose text-center lg:prose-xl">
      <h2>Pogledajte nekoliko primjeraka</h2>
      <p class="lead">
        Stranice se mogu do najsitnijih detalja urediti po Vašem izboru
      </p>
    </div>

    <div
      class="max-w-2xl my-24 mx-auto flex flex-col-reverse items-center gap-8 sm:flex-row"
    >
      <div class="mt-8 prose text-center sm:mt-0 sm:text-left lg:prose-xl">
        <h3>Uslužne djelatnosti</h3>
        <p class="lead">
          Ova stranica prilagođena je za zubnu ordinaciju, ali se može
          preoblikovati i prilagoditi za usluge koji Vi pružate.
        </p>
        <a
          href="https://01-dentist-site.vercel.app/"
          class="btn btn-primary btn-wide">Posjeti Stranicu</a
        >
      </div>

      <div class="relative sm:w-full">
        <div
          class="absolute -z-10 inset-0 bg-primary translate-x-4 translate-y-4"
        >
        </div>
        <img src="/images/zubna.png" alt="zubna ordinacija" class="shadow" />
      </div>
    </div>

    <div class="divider my-24 sm:16"></div>

    <div class="max-w-2xl mx-auto flex flex-col items-center gap-8 sm:flex-row">
      <div class="relative sm:w-full">
        <div
          class="absolute -z-10 inset-0 bg-secondary translate-x-4 translate-y-4 sm:-translate-x-4"
        >
        </div>
        <img src="/images/namještaj.png" alt="namještaj" />
      </div>

      <div class="mt-8 prose text-center sm:mt-0 sm:text-left lg:prose-xl">
        <h3>Proizvodne djelatnosti</h3>
        <p class="lead">
          Ova stranica prilagođena je za radionicu namještaja. Može se
          modificirati za Vaše potrebe.
        </p>
        <a
          href="https://01-furniture-site.vercel.app/"
          class="btn btn-secondary btn-wide">Posjeti Stranicu</a
        >
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section
    class="mt-32 px-4 py-16 from-secondary to-primary bg-gradient-to-b sm:bg-gradient-to-r sm:py-24 lg:py-32"
  >
    <div
      class="container mx-auto flex flex-col items-center justify-between gap-8 sm:flex-row lg:gap-16"
    >
      <div
        class="prose-lg text-center text-secondary-content sm:text-left lg:prose-2xl"
      >
        <h2>Stabilne internet stranice</h2>
        <p class="lead">Moj cilj su kvalitet i preciznost.</p>
        <p>
          Veoma je važno da se stranica prilagodi veličini ekrana uređaja, od
          mobitela do televizora. Internet stranice testirane su na svim
          veličinama ekrana i brzo se učitavaju, a snimljene su na najbržim
          serverima.
        </p>
        <button class="btn btn-accent btn-wide shadow">Kontaktirajte me</button>
      </div>

      <img src="/images/3d-man.png" alt="programer" class="flex-1 max-w-xs" />
    </div>
  </section>
</Layout>
