---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Hero slot="before-main" />

  <section
    class="max-w-screen-xl -mt-24 p-8 glass text-primary-content bg-opacity-60 sm:mx-4 sm:rounded-box lg:mx-12 xl:mx-auto"
  >
    <h2
      class="text-2xl mb-16 text-center uppercase font-light tracking-wider md:text-3xl"
    >
      Osobine i prednosti
    </h2>

    <div
      class="flex flex-col gap-8 sm:flex-row sm:flex-wrap sm:justify-center lg:flex-nowrap"
    >
      <div
        class="p-8 prose bg-base-100 rounded-box shadow sm:flex-1 lg:prose-lg"
      >
        <h3>Brzo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          quos maiores quod assumenda reprehenderit delectus magnam aliquid
          minima quasi laudantium perspiciatis error eaque sit, ducimus dolorem
          magni ipsum repudiandae quas!
        </p>
      </div>

      <div
        class="p-8 prose bg-base-100 rounded-box shadow sm:flex-1 lg:prose-lg"
      >
        <h3>Brzo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          quos maiores quod assumenda reprehenderit delectus magnam aliquid
          minima quasi laudantium perspiciatis error eaque sit, ducimus dolorem
          magni ipsum repudiandae quas!
        </p>
      </div>

      <div
        class="p-8 prose bg-base-100 rounded-box shadow sm:flex-auto lg:flex-1 lg:prose-lg"
      >
        <h3>Brzo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          quos maiores quod assumenda reprehenderit delectus magnam aliquid
          minima quasi laudantium perspiciatis error eaque sit, ducimus dolorem
          magni ipsum repudiandae quas!
        </p>
      </div>
    </div>
  </section>
</Layout>
