---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Hero slot="before-main" />

  <section
    class="max-w-screen-xl -mt-24 p-8 pb-24 glass text-primary-content bg-opacity-60 sm:mx-4 sm:rounded-box lg:mx-12 xl:mx-auto"
  >
    <h2
      class="text-2xl mb-24 text-center uppercase font-light tracking-wider md:text-3xl"
    >
      Osobine i prednosti
    </h2>

    <!-- Boxes Section -->

    <div
      class="flex flex-col gap-8 text-base-content sm:flex-row sm:flex-wrap sm:justify-center lg:flex-nowrap"
    >
      <div
        class="p-8 prose relative bg-base-100 rounded-box shadow text-inherit sm:flex-1 lg:prose-lg"
      >
        <img
          src="public/images/cloud.svg"
          alt="clouds"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="text-primary">Stranice iz oblaka</h3>
        <p>
          Stranice se snimaju pomoću servisa koji rade sa podacima spremljenim u
          Oblaku (AWS - Amazon Web Services). Na ovaj način stranica je uvijek
          dostupna i pregledna u svako doba.
        </p>
      </div>

      <div
        class="p-8 prose bg-base-100 relative rounded-box text-inherit sm:flex-1 lg:prose-lg"
      >
        <img
          src="public/images/playButton.svg"
          alt="play button"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="shadow text-accent">Brzo i pouzdano</h3>
        <p>
          Stranice se brzo učitavaju i uvijek su dostupne bez obzira gdje se
          nalazite i koji uređaj koristite za pregled stranice. Stranice se
          prilagođavaju svim ekranima od mobitela do televizora.
        </p>
      </div>

      <div
        class="p-8 prose relative bg-base-100 rounded-box shadow text-inherit sm:flex-auto lg:flex-1 lg:prose-lg"
      >
        <img
          src="public/images/setting.svg"
          alt="setting"
          class="h-32 w-auto absolute -top-10 right-10 lg:h-36 lg:-top-16"
        />
        <h3 class="text-primary">Odaberite izgled</h3>
        <p>
          Stranice se mogu prilagoditi vašim potrebama i željama. Izaberite
          boje, pošaljite slike i tekst koji želite. Nakon spajanja svih
          sastojaka, dobićete stranicu koju žellite.
        </p>
      </div>
    </div>
  </section>

  <section
    class="my-32 px-4 py-16 base-100 border-y border-primary bg-base-200"
  >
    <div class="prose-lg mx-auto text-center lg:prose-2xl">
      <h2>Internet stranica</h2>
      <p class="lead">
        Vaš dio interneta - počnite na pravi način. Vrlo jednostavno.
      </p>
      <button class="btn btn-primary btn-xl btn-wide text-lg lg:text-2xl"
        >Kreni</button
      >
    </div>
  </section>
</Layout>
