---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header
    slot="before-main"
    class="h-96 -mt-16 pt-20 bg-primary bg-[url('/images/blue-metal-bg-md.jpg')] bg-center bg-cover md:bg-[url('/images/blue-metal-bg-lg.jpg')]"
  >
    <div class="container mx-auto">
      <div class="prose mx-auto text-center text-base-300 lg:prose-xl">
        <h1 class="text-inherit">O meni</h1>
        <p class="lead text-inherit">
          Tražite kvalitetnog web developera koji će vam pomoći u izradi vaše
          internet stranice? Ja sam tu da vam pomognem!
        </p>
      </div>
    </div>
  </header>

  <article class="prose -mt-24 mx-auto p-8 rounded-t-lg bg-base-100">
    <h2>Tehnologije i alati</h2>
    <p class="text-lg">
      Kao web developer, vjerujem da je kvalitet najvažniji aspekt mojeg rada.
      Stoga se trudim uvijek koristiti najnovije tehnologije i alate kako bih
      osigurao da vaša internet stranica bude moderna, brza i funkcionalna.
      Također, pratim najnovije trendove i dizajnerske smjernice kako bi vaša
      stranica bila estetski privlačna i jednostavna za upotrebu.
    </p>
  </article>

  <article class="prose mx-auto">
    <h2>Uvijek na vrijeme</h2>
    <p>
      Pouzdanost je također vrlo važan aspekt mog rada. Nikada nećete morati
      brinuti o tome hoće li vaša internet stranica biti završena na vrijeme ili
      hoćete li dobiti kvalitetan proizvod. Moje iskustvo i profesionalnost
      osiguravaju da ćete dobiti samo najbolje.
    </p>
    <p>
      Naravno, dobra komunikacija je ključna za uspjeh svakog projekta. Zato sam
      uvijek dostupan za svoje klijente, kako bih odgovorio na sva vaša pitanja
      i osigurao da se vaša internet stranica razvija u skladu s vašim željama i
      potrebama. Ako tražite kvalitetnog web developera koji nudi pouzdanost i
      dobru komunikaciju, ne tražite dalje! Kontaktirajte me danas kako bih vam
      pomogao u izradi vaše internet stranice.
    </p>
  </article>

  <div class="mt-8 py-8 w-full bg-base-300">
    <div class="prose mx-auto">
      <h2>Tehnologije koje koristim</h2>

      <div class="flex flex-wrap gap-2">
        <a
          href="https://vitejs.dev"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              fill="none"
              ><title>file_type_vite</title><path
                d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z"
                fill="url(#paint0_linear)"></path><path
                d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z"
                fill="url(#paint1_linear)"></path><defs id="defs50"
                ><linearGradient
                  id="paint0_linear"
                  x1="6.0002"
                  y1="32.9999"
                  x2="235"
                  y2="344"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                  ><stop stop-color="#41D1FF" id="stop38"></stop><stop
                    offset="1"
                    stop-color="#BD34FE"
                    id="stop40"></stop></linearGradient
                ><linearGradient
                  id="paint1_linear"
                  x1="194.651"
                  y1="8.8182"
                  x2="236.076"
                  y2="292.989"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                  ><stop stop-color="#FFEA83" id="stop43"></stop><stop
                    offset=".0833"
                    stop-color="#FFDD35"
                    id="stop45"></stop><stop
                    offset="1"
                    stop-color="#FFA800"
                    id="stop47"></stop></linearGradient
                ></defs
              ></svg
            >
          </div>
          <p>vite</p>
        </a>

        <a
          href="https://react.dev"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 -14 256 256"
              version="1.1"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M210.483381,73.8236374 C207.827698,72.9095503 205.075867,72.0446761 202.24247,71.2267368 C202.708172,69.3261098 203.135596,67.4500894 203.515631,65.6059664 C209.753843,35.3248922 205.675082,10.9302478 191.747328,2.89849283 C178.392359,-4.80289661 156.551327,3.22703567 134.492936,22.4237776 C132.371761,24.2697233 130.244662,26.2241201 128.118477,28.2723861 C126.701777,26.917204 125.287358,25.6075897 123.876584,24.3549348 C100.758745,3.82852863 77.5866802,-4.82157937 63.6725966,3.23341515 C50.3303869,10.9571328 46.3792156,33.8904224 51.9945178,62.5880206 C52.5367729,65.3599011 53.1706189,68.1905639 53.8873982,71.068617 C50.6078941,71.9995641 47.4418534,72.9920277 44.4125156,74.0478303 C17.3093297,83.497195 0,98.3066828 0,113.667995 C0,129.533287 18.5815786,145.446423 46.8116526,155.095373 C49.0394553,155.856809 51.3511025,156.576778 53.7333796,157.260293 C52.9600965,160.37302 52.2875179,163.423318 51.7229345,166.398431 C46.3687351,194.597975 50.5500231,216.989464 63.8566899,224.664425 C77.6012619,232.590464 100.66852,224.443422 123.130185,204.809231 C124.905501,203.257196 126.687196,201.611293 128.472081,199.886102 C130.785552,202.113904 133.095375,204.222319 135.392897,206.199955 C157.14963,224.922338 178.637969,232.482469 191.932332,224.786092 C205.663234,216.837268 210.125675,192.78347 204.332202,163.5181 C203.88974,161.283006 203.374826,158.99961 202.796573,156.675661 C204.416503,156.196743 206.006814,155.702335 207.557482,155.188332 C236.905331,145.46465 256,129.745175 256,113.667995 C256,98.2510906 238.132466,83.3418093 210.483381,73.8236374 L210.483381,73.8236374 Z M204.118035,144.807565 C202.718197,145.270987 201.281904,145.718918 199.818271,146.153177 C196.578411,135.896354 192.205739,124.989735 186.854729,113.72131 C191.961041,102.721277 196.164656,91.9540963 199.313837,81.7638014 C201.93261,82.5215915 204.474374,83.3208483 206.923636,84.1643056 C230.613348,92.3195488 245.063763,104.377206 245.063763,113.667995 C245.063763,123.564379 229.457753,136.411268 204.118035,144.807565 L204.118035,144.807565 Z M193.603754,165.642007 C196.165567,178.582766 196.531475,190.282717 194.834536,199.429057 C193.309843,207.64764 190.243595,213.12715 186.452366,215.321689 C178.384612,219.991462 161.131788,213.921395 142.525146,197.909832 C140.392124,196.074366 138.243609,194.114502 136.088259,192.040261 C143.301619,184.151133 150.510878,174.979732 157.54698,164.793993 C169.922699,163.695814 181.614905,161.900447 192.218042,159.449363 C192.740247,161.555956 193.204126,163.621993 193.603754,165.642007 L193.603754,165.642007 Z M87.2761866,214.514686 C79.3938934,217.298414 73.1160375,217.378157 69.3211631,215.189998 C61.2461189,210.532528 57.8891498,192.554265 62.4682434,168.438039 C62.9927272,165.676183 63.6170041,162.839142 64.3365173,159.939216 C74.8234575,162.258154 86.4299951,163.926841 98.8353334,164.932519 C105.918826,174.899534 113.336329,184.06091 120.811247,192.08264 C119.178102,193.65928 117.551336,195.16028 115.933685,196.574699 C106.001303,205.256705 96.0479605,211.41654 87.2761866,214.514686 L87.2761866,214.514686 Z M50.3486141,144.746959 C37.8658105,140.48046 27.5570398,134.935332 20.4908634,128.884403 C14.1414664,123.446815 10.9357817,118.048415 10.9357817,113.667995 C10.9357817,104.34622 24.8334611,92.4562517 48.0123604,84.3748281 C50.8247961,83.3942121 53.7689223,82.4701001 56.8242337,81.6020363 C60.0276398,92.0224477 64.229889,102.917218 69.3011135,113.93411 C64.1642716,125.11459 59.9023288,136.182975 56.6674809,146.725506 C54.489347,146.099407 52.3791089,145.440499 50.3486141,144.746959 L50.3486141,144.746959 Z M62.7270678,60.4878073 C57.9160346,35.9004118 61.1112387,17.3525532 69.1516515,12.6982729 C77.7160924,7.74005624 96.6544653,14.8094222 116.614922,32.5329619 C117.890816,33.6657739 119.171723,34.8514442 120.456275,36.0781256 C113.018267,44.0647686 105.66866,53.1573386 98.6480514,63.0655695 C86.6081646,64.1815215 75.0831931,65.9741531 64.4868907,68.3746571 C63.8206914,65.6948233 63.2305903,63.0619242 62.7270678,60.4878073 L62.7270678,60.4878073 Z M173.153901,87.7550367 C170.620796,83.3796304 168.020249,79.1076627 165.369124,74.9523483 C173.537126,75.9849113 181.362914,77.3555864 188.712066,79.0329319 C186.505679,86.1041206 183.755673,93.4974728 180.518546,101.076741 C178.196419,96.6680702 175.740322,92.2229454 173.153901,87.7550367 L173.153901,87.7550367 Z M128.122121,43.8938899 C133.166461,49.3588189 138.218091,55.4603279 143.186789,62.0803968 C138.179814,61.8439007 133.110868,61.720868 128.000001,61.720868 C122.937434,61.720868 117.905854,61.8411667 112.929865,62.0735617 C117.903575,55.515009 122.99895,49.4217021 128.122121,43.8938899 L128.122121,43.8938899 Z M82.8018984,87.830679 C80.2715265,92.2183886 77.8609975,96.6393627 75.5753239,101.068539 C72.3906004,93.5156998 69.6661103,86.0886276 67.440586,78.9171899 C74.7446255,77.2826781 82.5335049,75.9461789 90.6495601,74.9332099 C87.9610684,79.1268011 85.3391054,83.4302106 82.8018984,87.8297677 L82.8018984,87.830679 L82.8018984,87.830679 Z M90.8833221,153.182899 C82.4979621,152.247395 74.5919739,150.979704 67.289757,149.390303 C69.5508242,142.09082 72.3354636,134.505173 75.5876271,126.789657 C77.8792246,131.215644 80.2993228,135.638441 82.8451877,140.03572 L82.8456433,140.03572 C85.4388987,144.515476 88.1255676,148.90364 90.8833221,153.182899 L90.8833221,153.182899 Z M128.424691,184.213105 C123.24137,178.620587 118.071264,172.434323 113.021912,165.780078 C117.923624,165.972373 122.921029,166.0708 128.000001,166.0708 C133.217953,166.0708 138.376211,165.953235 143.45336,165.727219 C138.468257,172.501308 133.434855,178.697141 128.424691,184.213105 L128.424691,184.213105 Z M180.622896,126.396409 C184.044571,134.195313 186.929004,141.741317 189.219234,148.9164 C181.796719,150.609693 173.782736,151.973534 165.339049,152.986959 C167.996555,148.775595 170.619884,144.430263 173.197646,139.960532 C175.805484,135.438399 178.28163,130.90943 180.622896,126.396409 L180.622896,126.396409 Z M163.724586,134.496971 C159.722835,141.435557 155.614455,148.059271 151.443648,154.311611 C143.847063,154.854776 135.998946,155.134562 128.000001,155.134562 C120.033408,155.134562 112.284171,154.887129 104.822013,154.402745 C100.48306,148.068386 96.285368,141.425078 92.3091341,134.556664 L92.3100455,134.556664 C88.3442923,127.706935 84.6943232,120.799333 81.3870228,113.930466 C84.6934118,107.045648 88.3338117,100.130301 92.276781,93.292874 L92.2758697,93.294241 C96.2293193,86.4385872 100.390102,79.8276317 104.688954,73.5329157 C112.302398,72.9573964 120.109505,72.6571055 127.999545,72.6571055 L128.000001,72.6571055 C135.925583,72.6571055 143.742714,72.9596746 151.353879,73.5402067 C155.587114,79.7888993 159.719645,86.3784378 163.688588,93.2350031 C167.702644,100.168578 171.389978,107.037901 174.724618,113.77508 C171.400003,120.627999 167.720871,127.566587 163.724586,134.496971 L163.724586,134.496971 Z M186.284677,12.3729198 C194.857321,17.3165548 198.191049,37.2542268 192.804953,63.3986692 C192.461372,65.0669011 192.074504,66.7661189 191.654369,68.4881206 C181.03346,66.0374921 169.500286,64.2138746 157.425315,63.0810626 C150.391035,53.0639249 143.101577,43.9572289 135.784778,36.073113 C137.751934,34.1806885 139.716356,32.3762092 141.672575,30.673346 C160.572216,14.2257007 178.236518,7.73185406 186.284677,12.3729198 L186.284677,12.3729198 Z M128.000001,90.8080696 C140.624975,90.8080696 150.859926,101.042565 150.859926,113.667995 C150.859926,126.292969 140.624975,136.527922 128.000001,136.527922 C115.375026,136.527922 105.140075,126.292969 105.140075,113.667995 C105.140075,101.042565 115.375026,90.8080696 128.000001,90.8080696 L128.000001,90.8080696 Z"
                  fill="#00D8FF"></path>
              </g>
            </svg>
          </div>
          <p>React</p>
        </a>

        <a
          href="https://nextjs.org"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 256 256"
              version="1.1"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M119.616813,0.0688905149 C119.066276,0.118932037 117.314565,0.294077364 115.738025,0.419181169 C79.3775171,3.69690087 45.3192571,23.3131775 23.7481916,53.4631946 C11.7364614,70.2271045 4.05395894,89.2428829 1.15112414,109.384595 C0.12512219,116.415429 0,118.492153 0,128.025062 C0,137.557972 0.12512219,139.634696 1.15112414,146.665529 C8.10791789,194.730411 42.3163245,235.11392 88.7116325,250.076335 C97.0197458,252.753556 105.778299,254.580072 115.738025,255.680985 C119.616813,256.106338 136.383187,256.106338 140.261975,255.680985 C157.453763,253.779407 172.017986,249.525878 186.382014,242.194795 C188.584164,241.068861 189.00958,240.768612 188.709286,240.518404 C188.509091,240.36828 179.124927,227.782837 167.86393,212.570214 L147.393939,184.922273 L121.743891,146.965779 C107.630108,126.098464 96.0187683,109.034305 95.9186706,109.034305 C95.8185728,109.009284 95.7184751,125.873277 95.6684262,146.465363 C95.5933529,182.52028 95.5683284,183.971484 95.1178886,184.82219 C94.4672532,186.048207 93.9667644,186.548623 92.915738,187.099079 C92.114956,187.499411 91.4142717,187.574474 87.6355816,187.574474 L83.3063539,187.574474 L82.1552297,186.848872 C81.4044966,186.373477 80.8539589,185.747958 80.4785924,185.022356 L79.9530792,183.896422 L80.0031281,133.729796 L80.0782014,83.5381493 L80.8539589,82.5623397 C81.25435,82.0369037 82.1051808,81.3613431 82.7057674,81.0360732 C83.7317693,80.535658 84.1321603,80.4856165 88.4613881,80.4856165 C93.5663734,80.4856165 94.4172043,80.6857826 95.7434995,82.1369867 C96.1188661,82.5373189 110.007429,103.454675 126.623656,128.650581 C143.239883,153.846488 165.962072,188.250034 177.122972,205.139048 L197.392766,235.839522 L198.418768,235.163961 C207.502639,229.259062 217.112023,220.852086 224.719453,212.09482 C240.910264,193.504394 251.345455,170.835585 254.848876,146.665529 C255.874878,139.634696 256,137.557972 256,128.025062 C256,118.492153 255.874878,116.415429 254.848876,109.384595 C247.892082,61.3197135 213.683675,20.9362052 167.288368,5.97379012 C159.105376,3.32158945 150.396872,1.49507389 140.637341,0.394160408 C138.234995,0.143952798 121.693842,-0.131275573 119.616813,0.0688905149 L119.616813,0.0688905149 Z M172.017986,77.4831252 C173.219159,78.0836234 174.195112,79.2345784 174.545455,80.435575 C174.74565,81.0861148 174.795699,94.9976579 174.74565,126.348671 L174.670577,171.336 L166.73783,159.17591 L158.780059,147.01582 L158.780059,114.313685 C158.780059,93.1711423 158.880156,81.2862808 159.030303,80.7108033 C159.430694,79.3096407 160.306549,78.2087272 161.507722,77.5581875 C162.533724,77.0327515 162.909091,76.98271 166.837928,76.98271 C170.541544,76.98271 171.19218,77.0327515 172.017986,77.4831252 Z"
                  fill="#000000"></path>
              </g>
            </svg>
          </div>
          <p>Next.js</p>
        </a>

        <a
          href="https://remix.run/"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 453.09800000000007 453.09800000000007"
              xml:space="preserve"
              version="1.1"
            >
              <g>
                <title>Layer 1</title>
                <g id="svg_3"></g>
                <g id="svg_4"></g>
                <g id="svg_5"></g>
                <g id="svg_6"></g>
                <g id="svg_7"></g>
                <g id="svg_8"></g>
                <g id="svg_9"></g>
                <g id="svg_10"></g>
                <g id="svg_11"></g>
                <g id="svg_12"></g>
                <g id="svg_13"></g>
                <g id="svg_14"></g>
                <g id="svg_15"></g>
                <g id="svg_16"></g>
                <g id="svg_17"></g>
                <g stroke="null" id="svg_1">
                  <g stroke="null" id="svg_2" fill="none" fill-rule="evenodd">
                    <path
                      stroke="null"
                      id="svg_18"
                      d="m246.68068,48.75896c90.09614,0 134.86832,42.88081 134.86832,111.37863c0,51.23398 -31.50606,84.64661 -74.06721,90.21602c35.92809,7.24004 56.93087,27.84513 60.80109,68.4978l0.56008,7.47606l0.48885,6.98887l0.42245,6.53772l0.29341,4.92955l0.31515,5.81638l0.16343,3.31938l0.23295,5.27316l0.1879,4.98046l0.0931,2.86276l0.12586,4.58706l0.10859,5.24486l0.03937,2.53439l0.07102,7.3443l0.02282,7.66375l0.00127,4.58217l-92.91034,0l0.00466,-1.91113l0,0l0.03308,-3.71153l0,0l0.05546,-3.61581l0.16071,-8.75788l0.04064,-2.93604l0.03183,-4.60384l0,0l-0.00435,-2.94406l-0.02706,-3.0875l-0.03761,-2.42327l-0.07644,-3.39256l-0.11016,-3.59773l-0.14787,-3.82537l-0.1896,-4.07545l-0.11169,-2.13854l-0.19006,-3.34169l-0.2186,-3.51077l-0.33876,-4.96044l-0.29174,-3.94217c-0.08378,-1.21593 -0.18079,-2.40318 -0.29101,-3.56237l-0.23806,-2.28115c-3.06823,-26.92936 -13.74955,-37.93571 -32.04396,-41.60675l-1.54216,-0.28912c-1.03985,-0.18167 -2.10319,-0.34145 -3.19004,-0.48079l-1.64789,-0.19387c-0.27759,-0.02981 -0.55665,-0.05841 -0.83717,-0.08579l-1.70077,-0.14997l0,0l-1.736,-0.12209l0,0l-1.77125,-0.09531l0,0l-1.7869,-0.06901l-1.82138,-0.04495l-1.85587,-0.02197l0,0l-147.06978,-0.0027l0,-72.95219l150.55094,0c2.46164,0 4.84714,-0.04668 7.1565,-0.1419l2.28398,-0.11148l0,0l2.23323,-0.14428l0,0l2.18246,-0.17746c0.35952,-0.03237 0.71692,-0.06613 1.07221,-0.10131l2.10633,-0.22803c1.3873,-0.1634 2.74077,-0.34961 4.06039,-0.55921l1.95407,-0.33199c24.42998,-4.42909 36.64453,-17.39757 36.64453,-42.7044c0,-28.40074 -19.89726,-45.6132 -59.6937,-45.6132l-150.55094,0l0,-71.38622l167.13168,0zm-68.89169,295.84834c12.18991,0 17.29009,6.76842 19.10701,13.24691l0.23971,0.9316l0,0l0.19672,0.92288l0.12811,0.72886l0.05476,0.36044l0.09172,0.71145l0.06907,0.69682l0.02646,0.34218l0.03754,0.67037l0.01142,0.32759l0.00894,0.63851l0,34.80736l-118.21147,0l0,-54.38496l98.24,0z"
                      fill="#121212"
                      fill-rule="nonzero"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <p>Remix</p>
        </a>

        <a
          href="https://astro.build"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
              ><title>file_type_astro</title><path
                d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"
                style="fill:#ff5d01;fill-rule:evenodd"></path></svg
            >
          </div>
          <p>Astro</p>
        </a>

        <a
          href="https://astro.build"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 111 33"
              class="mt-6"
              fill="none"
            >
              <g clip-path="url(#clip0_8323_10753)">
                <path
                  d="M97.6894 32.7407C97.4024 32.7407 97.1345 32.6637 96.8858 32.5289L94.3412 31.0081C93.9586 30.7963 94.1499 30.7193 94.2647 30.6808C94.7813 30.5075 94.8769 30.469 95.4126 30.161C95.47 30.1225 95.5466 30.1418 95.604 30.1803L97.5555 31.3546C97.632 31.3931 97.7276 31.3931 97.785 31.3546L105.419 26.9075C105.495 26.869 105.534 26.792 105.534 26.6958V17.8209C105.534 17.7247 105.495 17.6477 105.419 17.6092L97.785 13.1814C97.7085 13.1429 97.6128 13.1429 97.5555 13.1814L89.9217 17.6092C89.8451 17.6477 89.8069 17.7439 89.8069 17.8209V26.6958C89.8069 26.7728 89.8451 26.869 89.9217 26.9075L92.0071 28.1204C93.1359 28.6979 93.8438 28.0241 93.8438 27.3503V18.591C93.8438 18.4755 93.9394 18.36 94.0734 18.36H95.0491C95.1639 18.36 95.2787 18.4562 95.2787 18.591V27.3503C95.2787 28.8712 94.456 29.7567 93.0211 29.7567C92.5811 29.7567 92.2367 29.7567 91.2609 29.2755L89.252 28.1204C88.7546 27.8316 88.4485 27.2926 88.4485 26.715V17.8402C88.4485 17.2626 88.7546 16.7236 89.252 16.4348L96.8858 11.9878C97.3641 11.7183 98.0146 11.7183 98.4929 11.9878L106.127 16.4348C106.624 16.7236 106.93 17.2626 106.93 17.8402V26.715C106.93 27.2926 106.624 27.8316 106.127 28.1204L98.4929 32.5674C98.2633 32.6637 97.9764 32.7407 97.6894 32.7407Z"
                  fill="#5FA04E"></path>
                <path
                  d="M100.062 26.6379C96.7134 26.6379 96.0247 25.0978 96.0247 23.7887C96.0247 23.6732 96.1203 23.5577 96.2542 23.5577H97.2491C97.3639 23.5577 97.4596 23.6347 97.4596 23.7502C97.6126 24.7705 98.0527 25.2711 100.081 25.2711C101.688 25.2711 102.377 24.9053 102.377 24.039C102.377 23.5385 102.185 23.1727 99.6789 22.9224C97.5935 22.7106 96.2925 22.2486 96.2925 20.5737C96.2925 19.0144 97.5935 18.0903 99.7746 18.0903C102.224 18.0903 103.429 18.9374 103.582 20.7855C103.582 20.8433 103.563 20.901 103.525 20.9588C103.486 20.9973 103.429 21.0358 103.371 21.0358H102.357C102.262 21.0358 102.166 20.9588 102.147 20.8625C101.917 19.8037 101.324 19.4572 99.7555 19.4572C97.9953 19.4572 97.7848 20.0732 97.7848 20.5352C97.7848 21.0935 98.0335 21.2668 100.406 21.5748C102.759 21.8828 103.869 22.3256 103.869 23.9812C103.869 25.6753 102.472 26.6379 100.062 26.6379Z"
                  fill="#5FA04E"></path>
                <path
                  d="M111.083 17.3202C111.083 18.1288 110.413 18.8026 109.609 18.8026C108.806 18.8026 108.136 18.148 108.136 17.3202C108.136 16.4732 108.825 15.8379 109.609 15.8379C110.394 15.8379 111.083 16.4924 111.083 17.3202ZM108.366 17.3202C108.366 18.0133 108.921 18.5716 109.59 18.5716C110.279 18.5716 110.834 17.994 110.834 17.3202C110.834 16.6272 110.279 16.0882 109.59 16.0882C108.94 16.0882 108.366 16.6272 108.366 17.3202ZM109.055 16.4924H109.629C109.82 16.4924 110.203 16.4924 110.203 16.9352C110.203 17.2432 110.011 17.301 109.896 17.3395C110.126 17.3587 110.145 17.5128 110.164 17.7245C110.183 17.8593 110.203 18.0903 110.241 18.1673H109.896C109.896 18.0903 109.839 17.6668 109.839 17.6475C109.82 17.5513 109.782 17.5128 109.667 17.5128H109.38V18.1865H109.055V16.4924ZM109.361 17.224H109.609C109.82 17.224 109.858 17.07 109.858 16.993C109.858 16.762 109.705 16.762 109.609 16.762H109.342V17.224H109.361Z"
                  fill="#5FA04E"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.1565 17.4415C18.1565 17.095 17.9652 16.7678 17.6591 16.5945L9.56614 11.8779C9.43221 11.8009 9.27915 11.7624 9.12609 11.7432C9.10696 11.7432 9.04956 11.7432 9.04956 11.7432C8.89651 11.7432 8.74345 11.8009 8.60952 11.8779L0.497439 16.5752C0.191323 16.7485 0 17.0758 0 17.4415L0.0191323 30.0704C0.0191323 30.2437 0.114794 30.4169 0.267852 30.4939C0.42091 30.5902 0.612233 30.5902 0.746159 30.4939L5.56749 27.7217C5.87361 27.5485 6.06493 27.2212 6.06493 26.8747V20.9645C6.06493 20.618 6.25625 20.2907 6.56237 20.1175L8.60952 18.9239C8.76258 18.8276 8.93477 18.7891 9.10696 18.7891C9.27915 18.7891 9.45134 18.8276 9.58527 18.9239L11.6324 20.1175C11.9385 20.2907 12.1299 20.618 12.1299 20.9645V26.8747C12.1299 27.2212 12.3212 27.5485 12.6273 27.7217L17.4104 30.4939C17.5634 30.5902 17.7547 30.5902 17.9078 30.4939C18.0609 30.4169 18.1565 30.2437 18.1565 30.0704V17.4415Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M57.1482 0.0577539C56.9951 -0.0192513 56.8038 -0.0192513 56.6698 0.0577539C56.5168 0.15401 56.4211 0.308021 56.4211 0.481283V12.9946C56.4211 13.1101 56.3637 13.2256 56.2489 13.3027C56.1341 13.3604 56.0194 13.3604 55.9046 13.3027L53.8765 12.1283C53.5704 11.9551 53.2069 11.9551 52.9008 12.1283L44.7887 16.8449C44.4826 17.0182 44.2913 17.3454 44.2913 17.6919V27.1058C44.2913 27.4524 44.4826 27.7796 44.7887 27.9529L52.9008 32.6695C53.2069 32.8427 53.5704 32.8427 53.8765 32.6695L61.9886 27.9529C62.2947 27.7796 62.4861 27.4524 62.4861 27.1058V3.6385C62.4861 3.27272 62.2947 2.94545 61.9886 2.77219L57.1482 0.0577539ZM56.402 24.0064C56.402 24.1026 56.3637 24.1796 56.2872 24.2181L53.513 25.8353C53.4365 25.8738 53.3408 25.8738 53.2643 25.8353L50.4901 24.2181C50.4136 24.1796 50.3753 24.0834 50.3753 24.0064V20.7722C50.3753 20.6759 50.4136 20.5989 50.4901 20.5604L53.2643 18.9433C53.3408 18.9048 53.4365 18.9048 53.513 18.9433L56.2872 20.5604C56.3637 20.5989 56.402 20.6952 56.402 20.7722V24.0064Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M84.1431 20.6951C84.4493 20.5218 84.6214 20.1946 84.6214 19.848V17.5571C84.6214 17.2106 84.4301 16.8833 84.1431 16.7101L76.0884 12.0128C75.7823 11.8395 75.4188 11.8395 75.1127 12.0128L67.0006 16.7293C66.6945 16.9026 66.5032 17.2299 66.5032 17.5764V26.9903C66.5032 27.3368 66.6945 27.6641 67.0006 27.8373L75.0553 32.4576C75.3614 32.6309 75.7249 32.6309 76.0119 32.4576L80.8906 29.724C81.0437 29.647 81.1394 29.4737 81.1394 29.3004C81.1394 29.1272 81.0437 28.9539 80.8906 28.8769L72.7403 24.1603C72.5872 24.0641 72.4916 23.9101 72.4916 23.7368V20.7914C72.4916 20.6181 72.5872 20.4448 72.7403 20.3678L75.2849 18.9047C75.438 18.8085 75.6293 18.8085 75.7823 18.9047L78.3269 20.3678C78.48 20.4641 78.5756 20.6181 78.5756 20.7914V23.1015C78.5756 23.2748 78.6713 23.448 78.8244 23.525C78.9774 23.6213 79.1687 23.6213 79.3218 23.525L84.1431 20.6951Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M75.4764 20.2525C75.5338 20.214 75.6104 20.214 75.6678 20.2525L77.2175 21.1573C77.2749 21.1958 77.3131 21.2536 77.3131 21.3306V23.1402C77.3131 23.2172 77.2749 23.275 77.2175 23.3135L75.6678 24.2183C75.6104 24.2568 75.5338 24.2568 75.4764 24.2183L73.9267 23.3135C73.8693 23.275 73.8311 23.2172 73.8311 23.1402V21.3306C73.8311 21.2536 73.8693 21.1958 73.9267 21.1573L75.4764 20.2525Z"
                  fill="#5FA04E"></path>
                <path
                  d="M31.7207 12.0513C31.4145 11.8781 31.051 11.8781 30.7449 12.0513L22.6902 16.7294C22.3841 16.9027 22.2119 17.2299 22.2119 17.5765V26.9518C22.2119 27.2984 22.4032 27.6256 22.6902 27.7989L30.7449 32.477C31.051 32.6502 31.4145 32.6502 31.7207 32.477L39.7753 27.7989C40.0815 27.6256 40.2536 27.2984 40.2536 26.9518V17.5765C40.2536 17.2299 40.0623 16.9027 39.7753 16.7294L31.7207 12.0513Z"
                  fill="url(#paint0_linear_8323_10753)"></path>
                <path
                  d="M39.7946 16.7294L31.7017 12.0513C31.6252 12.0128 31.5295 11.9743 31.453 11.9551L22.3843 27.5679C22.4608 27.6641 22.5565 27.7411 22.6521 27.7989L30.7451 32.477C30.9747 32.6117 31.2425 32.6502 31.4912 32.5732L40.0051 16.9027C39.9477 16.8257 39.8712 16.7679 39.7946 16.7294Z"
                  fill="url(#paint1_linear_8323_10753)"></path>
                <path
                  d="M39.7947 27.7986C40.0243 27.6638 40.1965 27.4328 40.273 27.1825L31.4147 11.9355C31.1852 11.897 30.9364 11.9162 30.726 12.051L22.6904 16.7098L31.3573 32.6114C31.4721 32.5921 31.6061 32.5536 31.7209 32.4959L39.7947 27.7986Z"
                  fill="url(#paint2_linear_8323_10753)"></path>
              </g>
              <defs>
                <linearGradient
                  id="paint0_linear_8323_10753"
                  x1="34.5132"
                  y1="15.5354"
                  x2="27.1574"
                  y2="30.4484"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#3F873F"></stop>
                  <stop offset="0.3296" stop-color="#3F8B3D"></stop>
                  <stop offset="0.6367" stop-color="#3E9638"></stop>
                  <stop offset="0.9341" stop-color="#3DA92E"></stop>
                  <stop offset="1" stop-color="#3DAE2B"></stop>
                </linearGradient>
                <linearGradient
                  id="paint1_linear_8323_10753"
                  x1="30.0088"
                  y1="23.3589"
                  x2="50.5328"
                  y2="8.28841"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.1376" stop-color="#3F873F"></stop>
                  <stop offset="0.4016" stop-color="#52A044"></stop>
                  <stop offset="0.7129" stop-color="#64B749"></stop>
                  <stop offset="0.9081" stop-color="#6ABF4B"></stop>
                </linearGradient>
                <linearGradient
                  id="paint2_linear_8323_10753"
                  x1="21.9168"
                  y1="22.2608"
                  x2="40.5549"
                  y2="22.2608"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.0919165" stop-color="#6ABF4B"></stop>
                  <stop offset="0.2871" stop-color="#64B749"></stop>
                  <stop offset="0.5984" stop-color="#52A044"></stop>
                  <stop offset="0.8624" stop-color="#3F873F"></stop>
                </linearGradient>
                <clipPath id="clip0_8323_10753">
                  <rect width="111" height="33" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p>NodeJs</p>
        </a>

        <a
          href="https://tailwindcss.com"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -50 256 210">
              <defs>
                <linearGradient id="a" x1="-2.8%" x2="100%" y1="32%" y2="67.6%">
                  <stop offset="0%" stop-color="#2298BD"></stop>
                  <stop offset="100%" stop-color="#0ED7B5"></stop>
                </linearGradient>
              </defs>
              <path
                fill="url(#a)"
                d="M128 0C94 0 73 17 64 51c13-17 28-23 45-19 10 2 16 9 24 17 13 13 27 28 59 28 34 0 55-17 64-51-13 17-28 23-45 19-10-3-16-10-24-18-13-12-27-27-59-27ZM64 77C30 77 9 94 0 128c13-17 28-23 45-19 10 2 16 9 24 17 13 13 27 28 59 28 34 0 55-17 64-52-13 17-28 24-45 20-10-3-16-10-24-18-13-12-27-27-59-27Z"
              ></path>
            </svg>
          </div>
          <p>Tailwind</p>
        </a>

        <a
          href="https://tailwindcss.com"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="Layer_1"
              viewBox="0 0 400 400"
              ><style>
                .st0 {
                  fill: #007acc;
                }
                .st1 {
                  fill: #fff;
                }
              </style><path class="st0" d="M0 200V0h400v400H0"></path><path
                class="st1"
                d="M87.7 200.7V217h52v148h36.9V217h52v-16c0-9 0-16.3-.4-16.5 0-.3-31.7-.4-70.2-.4l-70 .3v16.4l-.3-.1zM321.4 184c10.2 2.4 18 7 25 14.3 3.7 4 9.2 11 9.6 12.8 0 .6-17.3 12.3-27.8 18.8-.4.3-2-1.4-3.6-4-5.2-7.4-10.5-10.6-18.8-11.2-12-.8-20 5.5-20 16 0 3.2.6 5 1.8 7.6 2.7 5.5 7.7 8.8 23.2 15.6 28.6 12.3 41 20.4 48.5 32 8.5 13 10.4 33.4 4.7 48.7-6.4 16.7-22 28-44.3 31.7-7 1.2-23 1-30.5-.3-16-3-31.3-11-40.7-21.3-3.7-4-10.8-14.7-10.4-15.4l3.8-2.4 15-8.7 11.3-6.6 2.6 3.5c3.3 5.2 10.7 12.2 15 14.6 13 6.7 30.4 5.8 39-2 3.7-3.4 5.3-7 5.3-12 0-4.6-.7-6.7-3-10.2-3.2-4.4-9.6-8-27.6-16-20.7-8.8-29.5-14.4-37.7-23-4.7-5.2-9-13.3-11-20-1.5-5.8-2-20-.6-25.7 4.3-20 19.4-34 41-38 7-1.4 23.5-.8 30.4 1l-.2.2z"
              ></path></svg
            >
          </div>
          <p>TypeScript</p>
        </a>
      </div>
    </div>
  </div>
</Layout>
