---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header
    slot="before-main"
    class="h-96 -mt-16 pt-20 bg-primary bg-[url('/images/blue-metal-bg-md.jpg')] bg-center bg-cover md:bg-[url('/images/blue-metal-bg-lg.jpg')]"
  >
    <div class="container mx-auto">
      <div class="prose mx-auto text-center text-base-300 lg:prose-xl">
        <h1 class="text-inherit">O meni</h1>
        <p class="lead text-inherit">
          Tražite kvalitetnog web developera koji će vam pomoći u izradi vaše
          internetske stranice? Ja sam tu da vam pomognem!
        </p>
      </div>
    </div>
  </header>

  <article class="prose -mt-24 mx-auto p-8 rounded-t-lg bg-base-100">
    <h2>Tehnologije i alati</h2>
    <p class="text-lg">
      Kao web developer, vjerujem da je kvalitet najvažniji aspekt mojeg rada.
      Stoga se trudim uvijek koristiti najnovije tehnologije i alate kako bih
      osigurao da vaša internetska stranica bude moderna, brza i funkcionalna.
      Također, pratim najnovije trendove i dizajnerske smjernice kako bi vaša
      stranica bila estetski privlačna i jednostavna za upotrebu.
    </p>
  </article>

  <article class="prose mx-auto">
    <h2>Uvijek na vrijeme</h2>
    <p>
      Pouzdanost je također vrlo važan aspekt mog rada. Nikada nećete morati
      brinuti o tome hoće li vaša internetska stranica biti završena na vrijeme
      ili hoćete li dobiti kvalitetan proizvod. Moje iskustvo i profesionalnost
      osiguravaju da ćete dobiti samo najbolje.
    </p>
    <p>
      Naravno, dobra komunikacija je ključna za uspjeh svakog projekta. Zato sam
      uvijek dostupan za svoje klijente, kako bih odgovorio na sva vaša pitanja
      i osigurao da se vaša internetska stranica razvija u skladu s vašim
      željama i potrebama. Ako tražite kvalitetnog web developera koji nudi
      pouzdanost i dobru komunikaciju, ne tražite dalje! Kontaktirajte me danas
      kako bih vam pomogao u izradi vaše internetske stranice.
    </p>
  </article>

  <div class="mt-8 py-8 w-full bg-base-300">
    <div class="prose mx-auto">
      <h2>Tehnologije koje koristim</h2>

      <div class="flex flex-wrap gap-2">
        <a
          href="https://vitejs.dev"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              fill="none"
              ><title>file_type_vite</title><path
                d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z"
                fill="url(#paint0_linear)"></path><path
                d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z"
                fill="url(#paint1_linear)"></path><defs id="defs50"
                ><linearGradient
                  id="paint0_linear"
                  x1="6.0002"
                  y1="32.9999"
                  x2="235"
                  y2="344"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                  ><stop stop-color="#41D1FF" id="stop38"></stop><stop
                    offset="1"
                    stop-color="#BD34FE"
                    id="stop40"></stop></linearGradient
                ><linearGradient
                  id="paint1_linear"
                  x1="194.651"
                  y1="8.8182"
                  x2="236.076"
                  y2="292.989"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                  ><stop stop-color="#FFEA83" id="stop43"></stop><stop
                    offset=".0833"
                    stop-color="#FFDD35"
                    id="stop45"></stop><stop
                    offset="1"
                    stop-color="#FFA800"
                    id="stop47"></stop></linearGradient
                ></defs
              ></svg
            >
          </div>
          <p>vite</p>
        </a>

        <a
          href="https://nextjs.org"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 256 256"
              version="1.1"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M119.616813,0.0688905149 C119.066276,0.118932037 117.314565,0.294077364 115.738025,0.419181169 C79.3775171,3.69690087 45.3192571,23.3131775 23.7481916,53.4631946 C11.7364614,70.2271045 4.05395894,89.2428829 1.15112414,109.384595 C0.12512219,116.415429 0,118.492153 0,128.025062 C0,137.557972 0.12512219,139.634696 1.15112414,146.665529 C8.10791789,194.730411 42.3163245,235.11392 88.7116325,250.076335 C97.0197458,252.753556 105.778299,254.580072 115.738025,255.680985 C119.616813,256.106338 136.383187,256.106338 140.261975,255.680985 C157.453763,253.779407 172.017986,249.525878 186.382014,242.194795 C188.584164,241.068861 189.00958,240.768612 188.709286,240.518404 C188.509091,240.36828 179.124927,227.782837 167.86393,212.570214 L147.393939,184.922273 L121.743891,146.965779 C107.630108,126.098464 96.0187683,109.034305 95.9186706,109.034305 C95.8185728,109.009284 95.7184751,125.873277 95.6684262,146.465363 C95.5933529,182.52028 95.5683284,183.971484 95.1178886,184.82219 C94.4672532,186.048207 93.9667644,186.548623 92.915738,187.099079 C92.114956,187.499411 91.4142717,187.574474 87.6355816,187.574474 L83.3063539,187.574474 L82.1552297,186.848872 C81.4044966,186.373477 80.8539589,185.747958 80.4785924,185.022356 L79.9530792,183.896422 L80.0031281,133.729796 L80.0782014,83.5381493 L80.8539589,82.5623397 C81.25435,82.0369037 82.1051808,81.3613431 82.7057674,81.0360732 C83.7317693,80.535658 84.1321603,80.4856165 88.4613881,80.4856165 C93.5663734,80.4856165 94.4172043,80.6857826 95.7434995,82.1369867 C96.1188661,82.5373189 110.007429,103.454675 126.623656,128.650581 C143.239883,153.846488 165.962072,188.250034 177.122972,205.139048 L197.392766,235.839522 L198.418768,235.163961 C207.502639,229.259062 217.112023,220.852086 224.719453,212.09482 C240.910264,193.504394 251.345455,170.835585 254.848876,146.665529 C255.874878,139.634696 256,137.557972 256,128.025062 C256,118.492153 255.874878,116.415429 254.848876,109.384595 C247.892082,61.3197135 213.683675,20.9362052 167.288368,5.97379012 C159.105376,3.32158945 150.396872,1.49507389 140.637341,0.394160408 C138.234995,0.143952798 121.693842,-0.131275573 119.616813,0.0688905149 L119.616813,0.0688905149 Z M172.017986,77.4831252 C173.219159,78.0836234 174.195112,79.2345784 174.545455,80.435575 C174.74565,81.0861148 174.795699,94.9976579 174.74565,126.348671 L174.670577,171.336 L166.73783,159.17591 L158.780059,147.01582 L158.780059,114.313685 C158.780059,93.1711423 158.880156,81.2862808 159.030303,80.7108033 C159.430694,79.3096407 160.306549,78.2087272 161.507722,77.5581875 C162.533724,77.0327515 162.909091,76.98271 166.837928,76.98271 C170.541544,76.98271 171.19218,77.0327515 172.017986,77.4831252 Z"
                  fill="#000000"></path>
              </g>
            </svg>
          </div>
          <p>Next.js</p>
        </a>

        <a
          href="https://nextjs.org"
          class="space-y-3 p-2 rounded text-center no-underline text-xs transition-transform hover:-translate-y-2"
          target="_blank"
        >
          <div class="p-2 w-24 h-24 rounded-md bg-white/30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 453.09800000000007 453.09800000000007"
              xml:space="preserve"
              version="1.1"
            >
              <g>
                <title>Layer 1</title>
                <g id="svg_3"></g>
                <g id="svg_4"></g>
                <g id="svg_5"></g>
                <g id="svg_6"></g>
                <g id="svg_7"></g>
                <g id="svg_8"></g>
                <g id="svg_9"></g>
                <g id="svg_10"></g>
                <g id="svg_11"></g>
                <g id="svg_12"></g>
                <g id="svg_13"></g>
                <g id="svg_14"></g>
                <g id="svg_15"></g>
                <g id="svg_16"></g>
                <g id="svg_17"></g>
                <g stroke="null" id="svg_1">
                  <g stroke="null" id="svg_2" fill="none" fill-rule="evenodd">
                    <path
                      stroke="null"
                      id="svg_18"
                      d="m246.68068,48.75896c90.09614,0 134.86832,42.88081 134.86832,111.37863c0,51.23398 -31.50606,84.64661 -74.06721,90.21602c35.92809,7.24004 56.93087,27.84513 60.80109,68.4978l0.56008,7.47606l0.48885,6.98887l0.42245,6.53772l0.29341,4.92955l0.31515,5.81638l0.16343,3.31938l0.23295,5.27316l0.1879,4.98046l0.0931,2.86276l0.12586,4.58706l0.10859,5.24486l0.03937,2.53439l0.07102,7.3443l0.02282,7.66375l0.00127,4.58217l-92.91034,0l0.00466,-1.91113l0,0l0.03308,-3.71153l0,0l0.05546,-3.61581l0.16071,-8.75788l0.04064,-2.93604l0.03183,-4.60384l0,0l-0.00435,-2.94406l-0.02706,-3.0875l-0.03761,-2.42327l-0.07644,-3.39256l-0.11016,-3.59773l-0.14787,-3.82537l-0.1896,-4.07545l-0.11169,-2.13854l-0.19006,-3.34169l-0.2186,-3.51077l-0.33876,-4.96044l-0.29174,-3.94217c-0.08378,-1.21593 -0.18079,-2.40318 -0.29101,-3.56237l-0.23806,-2.28115c-3.06823,-26.92936 -13.74955,-37.93571 -32.04396,-41.60675l-1.54216,-0.28912c-1.03985,-0.18167 -2.10319,-0.34145 -3.19004,-0.48079l-1.64789,-0.19387c-0.27759,-0.02981 -0.55665,-0.05841 -0.83717,-0.08579l-1.70077,-0.14997l0,0l-1.736,-0.12209l0,0l-1.77125,-0.09531l0,0l-1.7869,-0.06901l-1.82138,-0.04495l-1.85587,-0.02197l0,0l-147.06978,-0.0027l0,-72.95219l150.55094,0c2.46164,0 4.84714,-0.04668 7.1565,-0.1419l2.28398,-0.11148l0,0l2.23323,-0.14428l0,0l2.18246,-0.17746c0.35952,-0.03237 0.71692,-0.06613 1.07221,-0.10131l2.10633,-0.22803c1.3873,-0.1634 2.74077,-0.34961 4.06039,-0.55921l1.95407,-0.33199c24.42998,-4.42909 36.64453,-17.39757 36.64453,-42.7044c0,-28.40074 -19.89726,-45.6132 -59.6937,-45.6132l-150.55094,0l0,-71.38622l167.13168,0zm-68.89169,295.84834c12.18991,0 17.29009,6.76842 19.10701,13.24691l0.23971,0.9316l0,0l0.19672,0.92288l0.12811,0.72886l0.05476,0.36044l0.09172,0.71145l0.06907,0.69682l0.02646,0.34218l0.03754,0.67037l0.01142,0.32759l0.00894,0.63851l0,34.80736l-118.21147,0l0,-54.38496l98.24,0z"
                      fill="#121212"
                      fill-rule="nonzero"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <p>Next.js</p>
        </a>
      </div>
    </div>
  </div>
</Layout>
