---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header slot="before-main" class="h-64 -mt-16 pt-16 bg-primary">
    <div class="container mx-auto">
      <div class="prose text-primary-content lg:prose-xl">
        <h1 class="text-inherit">O meni</h1>
        <p class="lead text-inherit">
          Tražite kvalitetnog web developera koji će vam pomoći u izradi vaše
          internetske stranice? Ja sam tu da vam pomognem!
        </p>
      </div>
    </div>
  </header>

  <article class="container mx-auto">
    <p class="mt-16">
      Kao iskusan web developer, pouzdan sam i uvijek težim pružiti najbolju
      moguću kvalitetu svojim klijentima. Uz to, moja komunikacija s klijentima
      je uvijek otvorena i transparentna, kako bih osigurao da su svi zadovoljni
      s napretkom projekta. Kao web developer, vjerujem da je kvalitet
      najvažniji aspekt mojeg rada. Stoga se trudim uvijek koristiti najnovije
      tehnologije i alate kako bih osigurao da vaša internetska stranica bude
      moderna, brza i funkcionalna. Također, pratim najnovije trendove i
      dizajnerske smjernice kako bi vaša stranica bila estetski privlačna i
      korisnički prijateljska. Pouzdanost je također vrlo važan aspekt mog rada.
      Nikada nećete morati brinuti o tome hoće li vaša internetska stranica biti
      završena na vrijeme ili hoćete li dobiti kvalitetan proizvod. Moje
      iskustvo i profesionalnost osiguravaju da ćete dobiti samo najbolje.
      Naravno, dobra komunikacija je ključna za uspjeh svakog projekta. Zato sam
      uvijek dostupan za svoje klijente, kako bih odgovorio na sva vaša pitanja
      i osigurao da se vaša internetska stranica razvija u skladu s vašim
      željama i potrebama. Ako tražite kvalitetnog web developera koji nudi
      pouzdanost i dobru komunikaciju, ne tražite dalje! Kontaktirajte me danas
      kako bih vam pomogao u izradi vaše internetske stranice.
    </p>
  </article>
</Layout>
