---
import Layout from '../../layouts/MainLayout.astro'
import { getFirestore } from 'firebase-admin/firestore'
import { app } from '../../firebase/server'

interface Product {
  id: string
  name: string
  imageUrl: string
  price: number
}

const db = getFirestore(app)
const productsRef = db.collection('products')
const snapshot = await productsRef.orderBy('price').get()
const products = snapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Product[]
---

<Layout>
  <main class="container mx-auto px-4">
    <h2 class="text-xl">Items:</h2>
    <a href="/">Back to Home Page</a>
    <ul>
      {
        products.map((product) => (
          <li>
            <p>{product.name}</p>
            <p>
              <b>{product.price}</b>
            </p>
            <button
              class="btn btn-primary"
              data-addToChart-button
              data-product-id={product.id}
            >
              Buy
            </button>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<script>
  import { $cart } from '../../store/store'

  const addToChartBtn = document.querySelectorAll('[data-addToChart-button]')

  addToChartBtn.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const button = e.target as HTMLButtonElement
      const productId = button.dataset.productId

      if (!productId) return
      addItemToCart(productId)
      console.log($cart.get())
    })
  })

  function addItemToCart(productId: string) {
    const isProductInCart = $cart
      .get()
      .find((product) => product.productId === productId)
    if (!isProductInCart) {
      $cart.set([...$cart.get(), { productId, quantity: 1 }])
    } else {
      $cart.set(
        $cart.get().map((product) => {
          if (product.productId === productId)
            return { ...product, quantity: product.quantity + 1 }

          return product
        })
      )
    }
  }
</script>
