---
import Layout from '../../layouts/MainLayout.astro'
import { db } from '../../googleCloud/server/firestore'

export type ProductT = {
  id: string
  name: string
  imageUrl: string
  price: number
}

const productsRef = db.collection('products').select('name', 'imageUrl')
const snapshot = await productsRef.orderBy('price').get()
const products = snapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as ProductT[]
---

<Layout>
  <main class="container mx-auto px-4">
    <h2 class="text-xl">Items:</h2>
    <ul>
      {
        products.map((product) => (
          <li>
            <a href={`/products/${product.id}`}>
              <h3 class="font-bold">{product.name}</h3>
              <img src={product.imageUrl} alt={product.name} />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
