---
import Layout from '../../layouts/MainLayout.astro'
import { getFirestore } from 'firebase-admin/firestore'
//import { app } from '../../firebase/server'
import Product from '../../components/Product'
import { db } from '../../firestore/server'

export type ProductT = {
  id: string
  name: string
  imageUrl: string
  price: number
}

// const db = getFirestore(app)
const productsRef = db.collection('products')
const snapshot = await productsRef.orderBy('price').get()
const products = snapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as ProductT[]
---

<Layout>
  <main class="container mx-auto px-4">
    <h2 class="text-xl">Items:</h2>
    <a href="/">Back to Home Page</a>
    <ul>
      {products.map((product) => <Product client:only product={product} />)}
    </ul>
  </main>
</Layout>
