<header
  class="min-h-[calc(100vh_+_4rem)] w-full -mt-[4rem] pt-20 grid from-primary to-secondary bg-gradient-to-br text-primary-content"
>
  <div
    class="container z-0 mx-auto mb-12 px-4 flex col-start-1 row-start-1 place-self-center items-center flex-col gap-10 sm:flex-row sm:justify-between sm:gap-4 sm:mb-20 md:px-4 lg:px-12 xl:mb-28"
  >
    <div
      class="prose w-full text-inherit sm:w-1/2 text-center md:text-left lg:prose-xl"
    >
      <h1 class="text-inherit">Internet stranice po vašoj mjeri</h1>
      <p class="lead text-inherit">
        Kreirajte svoju internet stranicu na najbolji mogući način.
      </p>
      <button class="btn btn-warning btn-wide btn-xl text-lg lg:text-2xl"
        >Kreni</button
      >
    </div>

    <picture class="w-full mb-20 sm:mb-0">
      <source srcset="public/images/hero.png" media="(min-width: 950px)" />
      <img
        src="public/images/hero-mob.png"
        alt="internet stranica"
        class="w-full"
      />
    </picture>
  </div>

  <svg
    class="w-full h-auto min-h-[300px] col-start-1 row-start-1 self-end fill-secondary sm:min-h-fit"
    width="1600"
    height="595"
    viewBox="0 0 1600 595"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M0 338L53.3 349.2C106.7 360.3 213.3 382.7 320 393.8C426.7 405 533.3 405 640 359.3C746.7 313.7 853.3 222.3 960 189.2C1066.7 156 1173.3 181 1280 159.2C1386.7 137.3 1493.3 68.7 1546.7 34.3L1600 0V595H1546.7C1493.3 595 1386.7 595 1280 595C1173.3 595 1066.7 595 960 595C853.3 595 746.7 595 640 595C533.3 595 426.7 595 320 595C213.3 595 106.7 595 53.3 595H0V338Z"
    ></path></svg
  >
</header>
