<header
  class="min-h-screen -mt-16 pt-20 from-primary to-secondary bg-gradient-to-br text-primary-content"
>
  <div class="prose text-inherit">
    <h1 class="text-inherit">Pravim internet stranice</h1>
    <p>
      Trebate internet stranicu? Došli ste na pravo mjesto. Jeftino, sigurno i
      moderno.
    </p>
  </div>
</header>
