<header
  class="min-h-screen w-full -mt-16 pt-20 grid from-primary to-secondary bg-gradient-to-br text-primary-content"
>
  <div
    class="container z-0 mx-auto px-4 flex items-center col-start-1 row-start-1 place-self-center flex-col gap-1 sm:flex-row md:gap-12 md:px-8 lg:px-12"
  >
    <div class="prose text-inherit sm:w-1/2">
      <h1 class="text-inherit">Pravim internet stranice</h1>
      <p class="lead text-inherit">
        Trebate internet stranicu? Došli ste na pravo mjesto. Jeftino, sigurno i
        moderno.
      </p>
    </div>
    <div class="bg-accent w-full h-96 sm:w-1/2"></div>
  </div>

  <svg
    class="fill-secondary col-start-1 row-start-1 self-end h-auto w-full"
    width="1600"
    height="595"
    viewBox="0 0 1600 595"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M0 338L53.3 349.2C106.7 360.3 213.3 382.7 320 393.8C426.7 405 533.3 405 640 359.3C746.7 313.7 853.3 222.3 960 189.2C1066.7 156 1173.3 181 1280 159.2C1386.7 137.3 1493.3 68.7 1546.7 34.3L1600 0V595H1546.7C1493.3 595 1386.7 595 1280 595C1173.3 595 1066.7 595 960 595C853.3 595 746.7 595 640 595C533.3 595 426.7 595 320 595C213.3 595 106.7 595 53.3 595H0V338Z"
    ></path></svg
  >
</header>
