<div
  class="h-16 sticky top-0 z-30 bg-opacity-90 backdrop-blur text-primary-content"
>
  <nav class="navbar w-full" aria-label="Glavna navigacija">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl">EdiWeb</a>
    </div>
    <div class="navbar-end">
      <div class="hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
          <li><a>Item 3</a></li>
        </ul>
      </div>

      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
