---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Variables */
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}

	/* Layout */
	body {
		margin: 0;
		color: #141616;
		background-color: #e6e9ea;
		font-size: 28px;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	/* Typography */
	h1 {
		font-size: 110px;
		margin-bottom: 1rem;
	}

	/* Components */
	.full-screen-section {
		height: 100vh;
		text-align: center;
		padding: 1rem;
		position: relative;
	}
</style>
