---
import TopNavigation from '../components/TopNavigation.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../../global.css" />
    <title>Shop</title>
  </head>
  <body>
    <TopNavigation />
    <slot />
  </body>
</html>
