#root {
  margin-inline: auto;
  padding: 1rem;
  outline: 1px solid blue;
}

.file,
.folder {
  padding-left: 1rem;
}

.app :last-child {
  margin-bottom: 0;
}

.app > button:first-child {
  margin-top: 0;
}

button + .folder > .entry-name:first-child {
  margin-top: 5px;
}
