#root {
  margin-inline: auto;
  padding: 1rem;
  outline: 1px solid blue;
}

.file,
.folder {
  padding-left: 1rem;
}

.app > .file,
.app > .folder {
  padding: 0;
}

.app :last-child {
  margin-bottom: 0;
}
