---
import Layout from '../layouts/MainLayout.astro'
import { app } from '../firebase/server'
import { getAuth } from 'firebase-admin/auth'
import { getProducts, saveProduct } from '../firebase/firestore'

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get('session').value
if (!sessionCookie) return Astro.redirect('/login')

let user = undefined
try {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie)
  user = await auth.getUser(decodedCookie.uid)
} catch (error) {
  return Astro.redirect('/login')
}

// Process form and POST method

type ActionDataT = {
  formError?: string
  fields?: {
    name?: string
    price?: string
  }
  fieldsError?: {
    name?: string
    price?: string
  }
}

const actionData: ActionDataT = {}
if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData()
    const name = formData.get('name')
    const price = formData.get('price')

    if (
      !name ||
      typeof name !== 'string' ||
      !price ||
      typeof price !== 'string'
    ) {
      actionData.formError = 'Form submitet wrong!'
      throw new Error('Form submited wrong!')
    }

    saveProduct({ name, price })
  } catch (error) {
    if (error instanceof Error) console.log(error)
  }
}
---

<Layout>
  <h1>Dashboard</h1>
  <p>Welcome {user?.displayName}</p>
  <form action="/api/auth/logout">
    <button type="submit">Logout</button>
  </form>
  <h2>Add product</h2>
  <form method="post">
    {actionData.formError && <p>{actionData.formError}</p>}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="price">Price</label>
    <input type="number" name="price" id="price" />
  </form>
</Layout>
