---
import Layout from '../layouts/MainLayout.astro'
---

<Layout>
	<h1 class="my-16 text-3xl">
		Welcome to our Online Shop - Your One-Stop Destination for Computer and
		Multimedia Cables!
	</h1>
	<p class="text-lg">
		Discover a wide range of high-quality cables specifically designed for your
		computer and multimedia needs. We take pride in offering a vast selection of
		cables, ensuring that you'll find the perfect solution for your connectivity
		requirements.
	</p>
	<p>
		Explore our online shop today and elevate your digital connectivity. From
		home entertainment setups to professional IT environments, we have the
		cables you need to stay connected and unlock the full potential of your
		devices. Join countless satisfied customers who have chosen us as their
		trusted source for computer and multimedia cables. Start shopping now and
		experience the convenience, reliability, and affordability we have to offer.
		Your journey to seamless connectivity begins here!
	</p>
	<div>
		<img src="/images/hero-img.jpg" alt="cables varius of colors" />
		<small>
			Image by
			<a
				href="https://pixabay.com/users/blickpixel-52945/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=494645"
				class="underline">Michael Schwarzenberger</a
			>
			from
			<a
				href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=494645"
				class="underline"
			>
				Pixabay
			</a>
		</small>
	</div>
</Layout>
