---
import { ProductT, productsRef } from '../firebase/utility/firestore'
import Products from '../components/Products.astro'
import Layout from '../layouts/MainLayout.astro'
import Product from '../components/Product'

let products: ProductT[] | undefined

try {
	const snapshot = await productsRef
		.orderBy('created_at', 'desc')
		.limit(10)
		.get()

	products = snapshot.docs.map((doc) => ({
		id: doc.id,
		name: doc.data().name,
		price: doc.data().price,
		desc: doc.data().desc,
		created_at: doc.data().created_at.toDate(),
		imageUrl: doc.data().imageUrl,
	}))
} catch (error) {
	products = undefined
}
---

<Layout>
	<h1>Home page</h1>

	{
		products ? (
			<ul>
				{products.map((product) => (
					<Product product={product} />
				))}
			</ul>
		) : (
			<p>No Products jet!</p>
		)
	}
</Layout>
