---
export interface Props {
  margins?: string
}

const { margins } = Astro.props
---

<div
  class:list={[
    'container mx-auto flex flex-col gap-10 sm:gap-8 sm:flex-row sm:items-stretch',
    margins,
  ]}
>
  <slot />
</div>
