<footer class="w-full py-16 px-4 bg-primary">
  <div class="container mx-auto flex flex-col-reverse gap-8 sm:flex-row">
    <div class="prose text-primary-content">
      <h2 class="text-inherit">Lorem, ipsum.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        quod? Minima ea vero nam molestiae pariatur sed iste.
      </p>

      <p class="lead text-inherit font-semibold">Hvala na posjeti.</p>
    </div>

    <section>
      <div class="prose">
        <h2 class="text-primary-content text-center sm:text-left">
          Ostali naši proizvodi
        </h2>
      </div>

      <div class="mt-8 flex flex-col gap-2 sm:flex-row">
        <div class="flex gap-2">
          <div>
            <img
              src="public/images/kitchen-4-md.jpg"
              alt="kuhinja"
              class="object-cover h-full aspect-square"
            />
          </div>
          <div>
            <img
              src="public/images/kitchen-3-md.jpg"
              alt="kuhinja"
              class="object-cover h-full aspect-square"
            />
          </div>
        </div>
        <div class="flex items-stretch gap-2">
          <div>
            <img
              src="public/images/kitchen-4-md.jpg"
              alt="kuhinja"
              class="object-cover h-full aspect-square"
            />
          </div>
          <div>
            <img
              src="public/images/kitchen-3-md.jpg"
              alt="kuhinja"
              class="object-cover h-full aspect-square"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
