<div class="grid grid-rows-1 h-80 w-full md:h-[calc(100vh_-_96px)]">
  <picture class="row-start-1 col-start-1">
    <source srcset="public/images/wd-2-md.jpg" media="(max-width: 590px" />
    <img
      src="public/images/wd-2-lg.jpg"
      alt="veliki zeleni ormar"
      class="object-cover h-full w-full"
    />
  </picture>
  <div
    class="row-start-1 col-start-1 place-self-center bg-neutral bg-opacity-60 text-center"
  >
    <div class="prose lg:prose-xl text-neutral-content">
      <h1 class="text-inherit">Lijep Pozdrav</h1>
      <p class="lead text-inherit">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
        provident quae repellendus at doloremque cupiditate.
      </p>
      <button class="btn btn-primary btn-xl btn-wide">Kreni</button>
    </div>
  </div>
</div>
