---
export interface Props {
  title: string
  content?: string
}

const { title, content } = Astro.props
---

<div class="mx-auto prose lg:prose-xl text-center">
  <h2 class="mb-1 lg:my-0 lg:mb-2">{title}</h2>

  {content && <p class="lead">{content}</p>}
</div>
