---
import Hero from '../components/Hero.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <Hero slot="hero" />
  <main class="container mx-auto">content</main>
</MainLayout>
