---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <header class="container px-4 mx-auto">
    <div class="prose lg:prose-xl">
      <h1>O nama</h1>
      <p>
        Bavimo se proizvodnjom i ugradnjom namještaja. Proizvodimo kuhinje u
        skladu sa vašim prostorom i potrebama, od visećih elemenata pa sve do
        elemenata za razne električne uređaje u kuhnji. Proizvodimo razne
        kuhinjske elemente visoke kvalitete.
      </p>
      <p>
        Naši majstrori su u stanju napraviti ormar bilo koje dimenzije, sve po
        vašim potrebama. Dolazimo na lice mjesta i u dogovoru sa vama vršimo
        dimenzioniranje ormara bilo kojeg oblika i vrste.
      </p>

      <h2>Industrija namještaja</h2>
      <p>
        Koristimo samo kvalitetne i provjerene materijale po standardima ove
        industrije. Posjedujemo veliko iskustvo u prozvodnji namještaja tako da
        možemo napraviti upravo ono što ste vi zamislili i na najbolji mogući
        način iskoristiti prostor koji želite. Naš namještaj je kvalitetan i
        dugotrajan, a naši majstori će postaviti namještaj na kvalitetan način.
      </p>

      <p>Proizvodimo i druge vrste namještaja ili opremamo kompletne sobe.</p>
    </div>
  </header>
  <main class="w-full mt-16 py-16 bg-accent sm:py-28 sm:mt-28">
    <div class="prose px-4 mx-auto text-center lg:prose-xl">
      <h2>Uvijek nas možete pozvati</h2>
      <p class="lead">
        Pozovite nas ili dođite da se dogovorimo i opremimo vaš prostor na
        najbolji mogući način.
      </p>
      <button class="btn btn-error btn-lg btn-wide shadow hover:bg-accent-focus"
        >Pozovite nas</button
      >
    </div>
  </main>
</MainLayout>
