---
import Layout from '../../layouts/Layout.astro'
import NewPost from '../../components/NewPost'
import { compareHashAndPassword } from 'node-hash-password'
import { v4 as uuidv4 } from 'uuid'
import '../../css/form.css'
import DashBoardLayout from '../../layouts/DashBoardLayout.astro'

const cookie_jwt = Astro.cookies.get(import.meta.env.LOGIN_COOKIE).value
if (
  !compareHashAndPassword({
    method: 'keccak256',
    hash: cookie_jwt,
    session: import.meta.env.SESSION,
  })
)
  return Astro.redirect('/login')

const csrf = uuidv4()
Astro.cookies.set('csrf', csrf, {
  httpOnly: true,
  expires: new Date(Date.now() + 1000 * 3600 * 1),
  sameSite: 'strict',
  path: '/auth',
})
---

<DashBoardLayout title="Add new post">
  <div class="mx-auto mt-16 max-w-sm">
    <h1 class="text-3xl font-semibold">Napiši nešto novo:</h1>
    <NewPost client:only="react" csrfToken={csrf} />
  </div>
</DashBoardLayout>
