---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div
    class="prose prose-invert mx-auto p-8 bg-rose-500 rounded-lg border border-rose-300 text-center"
  >
    <h1>Došlo je do greške</h1>
    <p class="text-lg">Žao nam je ali desila se greška.</p>
  </div>
</Layout>
