---
import Countries from '../components/Countries'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class="prose prose-invert">
    <h1>Traži Državu</h1>
  </header>

  <main>
    <Countries client:load />
  </main>
</Layout>
