---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class="flex flex-row gap-12">
    <div class="prose prose-xl prose-invert flex-1 text-justify">
      <h1 class="text-amber-500">Dr쬬ve</h1>
      <p>
        Dobrodo코li na internet stranicu koja vam omogu캖ava brz i jednostavan
        pristup osnovnim informacijama o bilo kojoj dr쬬vi na svijetu. Na ovoj
        stranici mo쬰te brzo i jednostavno saznati populaciju bilo koje
        dr쬬vlje, njen glavni grad i koje druge dr쬬ve grani캜e sa njom. Bilo da
        ste student koji istra쬿je demografiju svijeta, poslovni 캜ovijek koji
        쬰li da sazna vi코e o dr쬬vi sa kojom 쬰li da posluje, ili jednostavno
        ljubitelj putovanja koji 쬰li da sazna vi코e o destinaciji koju planira
        da posjeti.
      </p>

      <p>
        Ova stranica vam pru쬬 sve informacije na jednom mjestu. Sa lako캖om
        mo쬰te pretra쬴vati bilo koju dr쬬vu, od afganistana do zimbabvea, i
        saznati osnovne informacije o njoj.
      </p>
    </div>

    <div class="flex-1 self-end flex flex-col gap-8">
      <img
        src="assets/heroImg.jpg"
        alt="airplane travel"
        class="rounded-xl border border-amber-500 shadow-lg shadow-amber-800/50"
      />

      <div class="py-4 px-8 border border-amber-500/50 rounded bg-stone-800">
        <p class="mb-2 text-amber-400">
          Pridru쬴te nam se i istra쬴te svijet na na코oj stranici!
        </p>

        <a href="/drzave"
          ><button class="btn btn-primary">Kreni u istra쬴vanje 游깴</button></a
        >
      </div>
    </div>
  </header>

  <footer>
    <a
      href="https://www.freepik.com/free-vector/tourism-travel-concept-realistic-style-with-planet-map-road-sign-airplane-vector-illustration_27997050.htm#page=3&query=earth&position=26&from_view=search&track=sph"
      >Image by bs_k1d</a
    > on Freepik
  </footer>
</Layout>
