---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class="flex flex-col-reverse gap-8 sm:flex-row lg:gap-16">
    <div
      class="prose prose-lg prose-invert flex-1 text-justify md:prose-xl xl:prose-2xl"
    >
      <h1 class="text-amber-500">Dr쬬ve</h1>

      <p class="lead">
        Dobrodo코li na internet stranicu koja vam omogu캖ava brz i <span
          class="text-amber-500 font-semibold">jednostavan pristup</span
        > osnovnim informacijama <span class="text-amber-500 font-semibold"
          >o bilo kojoj dr쬬vi</span
        > na svijetu.
      </p>

      <p class="lead">
        <span class="text-amber-500 font-semibold">Pridru쬴te nam se</span> i istra쬴te
        svijet na na코oj stranici!
      </p>

      <a href="/drzave"
        ><button class="btn btn-primary py-4 px-8"
          >Kreni u istra쬴vanje 游깴</button
        ></a
      >
    </div>

    <div class="flex-1 self-center">
      <img
        src="assets/heroImg.jpg"
        alt="airplane travel"
        class="rounded-xl border border-amber-500 shadow-lg shadow-amber-800/50"
      />
    </div>
  </header>

  <main>
    <section class="mt-16 sm:mt-32">
      <div
        class="flex flex-col gap-4 text-lg text-center sm:flex-row md:gap-16 md:text-2xl"
      >
        <div class="p-4 bg-stone-800 border border-stone-500 rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            class="mx-auto mb-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"
            ></path>
          </svg>
          <p>
            Na ovoj stranici mo쬰te brzo i jednostavno saznati populaciju bilo
            koje dr쬬vlje, njen glavni grad i koje druge dr쬬ve grani캜e sa njom.
          </p>
        </div>

        <div class="p-4 bg-stone-800 border border-stone-500 rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            class="mx-auto mb-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04 7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001 7.003 7.003 0 0 1-12.658.905Z"
            ></path>
          </svg>
          <p>
            Bilo da ste student koji istra쬿je demografiju svijeta, poslovni
            캜ovijek koji 쬰li da sazna vi코e o dr쬬vi sa kojom 쬰li da posluje,
            ili jednostavno ljubitelj putovanja koji 쬰li da sazna vi코e o
            destinaciji koju planira da posjeti.
          </p>
        </div>

        <div class="p-4 bg-stone-800 border border-stone-500 rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            class="mx-auto mb-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 1H1v14h5V1zm9 0h-5v5h5V1zm0 9v5h-5v-5h5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-5z"
            ></path>
          </svg>
          <p>
            Ova stranica vam pru쬬 sve informacije na jednom mjestu. Sa lako캖om
            mo쬰te pretra쬴vati bilo koju dr쬬vu, od afganistana do zimbabvea, i
            saznati osnovne informacije o njoj.
          </p>
        </div>
      </div>
    </section>

    <section class="mt-16 sm:mt-32 mx-auto w-max text-center">
      <p class="mb-8 text-lg md:text-2xl">
        <span class="text-amber-500 font-semibold">Pridru쬴te nam se</span> i istra쬴te
        svijet na na코oj stranici!
      </p>

      <a href="/drzave"
        ><button class="btn btn-primary py-4 px-8"
          >Kreni u istra쬴vanje 游깴</button
        ></a
      >
    </section>
  </main>
</Layout>
