---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class="prose mx-auto text-stone-300">
    <h1 class="text-stone-200">Države</h1>
    <p>
      Dobrodošli na internet stranicu koja vam omogućava brz i jednostavan
      pristup osnovnim informacijama o bilo kojoj državi na svijetu. Na ovoj
      stranici možete brzo i jednostavno saznati populaciju bilo koje državlje,
      njen glavni grad i koje druge države graniče sa njom. Bilo da ste student
      koji istražuje demografiju svijeta, poslovni čovijek koji želi da sazna
      više o državi sa kojom želi da posluje, ili jednostavno ljubitelj
      putovanja koji želi da sazna više o destinaciji koju planira da posjeti.
    </p>

    <p>
      Ova stranica vam pruža sve informacije na jednom mjestu. Sa lakoćom možete
      pretraživati bilo koju državu, od afganistana do zimbabvea, i saznati
      osnovne informacije o njoj.
    </p>

    <p>Pridružite nam se i istražite svijet na našoj stranici!</p>

    <button class="btn btn-primary">Traži državu</button>
  </header>
</Layout>
