<footer class="w-full py-16 px-4 bg-neutral text-neutral-content">
  <div class="max-w-md mx-auto text-center">
    <h2 class="mb-4 text-xl font-bold">Lorem lorem lorem</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti enim
      minima culpa consequuntur necessitatibus explicabo iusto accusantium nisi,
      harum minus.
    </p>
    <div class="w-12 h-2 mx-auto mt-6 rounded-full bg-neutral-content"></div>
  </div>
</footer>
