<footer class="w-full py-16 px-4 bg-neutral text-neutral-content">
  <div class="max-w-md mx-auto text-center">
    <h2 class="mb-4 text-xl font-bold">Redovno perite zube</h2>
    <p>
      Otprilike trećina svakog zuba nalazi se ispod vaših desni. Zbog toga je
      održavanje desni zdravim jednako važno kao i briga o zubima. Vaše desni
      uvijek trebaju biti ružičaste boje i čvrste.
    </p>

    <a href="/o_nama" class="mt-6 btn btn-outline btn-xs">Više o nama</a>

    <div class="w-12 h-2 mx-auto mt-6 rounded-full bg-neutral-content"></div>
  </div>
</footer>
