<header class="w-full">
  <div class="container mx-auto flex flex-col-reverse gap-12 sm:flex-row">
    <div class="mx-2 my-auto prose text-center sm:text-left lg:prose-xl">
      <h1>Zdravi i snažni zubi</h1>
      <p class="lead">
        Započnite dan sa savršenim osmjehom. Budite ponosni na svoje zube.
      </p>
      <a href="/kontakt" class="btn btn-primary btn-wide shadow lg:btn-lg"
        >Pozovite nas</a
      >
    </div>

    <div>
      <picture>
        <source srcset="/images/hero-md.jpg" media="(max-width: 500px" />
        <img
          src="/images/hero-lg.jpg"
          alt="pranje zuba"
          class="object-cover h-full w-full sm:rounded-b-lg"
        />
      </picture>
    </div>
  </div>
</header>
