<header class="w-full">
  <div
    class="container mx-auto flex flex-col-reverse items-center gap-12 sm:flex-row"
  >
    <div class="prose lg:prose-xl text-center sm:text-left">
      <h1>Savršen osmjeh</h1>
      <p class="lead">
        Započnite dan sa savršenim osmjehom. Obratite nam se, čekamo vaš poziv.
      </p>
      <buttton class="btn btn-primary btn-wide lg:btn-lg">Kreni</buttton>
    </div>

    <div>
      <picture>
        <source srcset="/images/hero-md.jpg" media="(max-width: 500px" />
        <img
          src="/images/hero-lg.jpg"
          alt="pranje zuba"
          class="object-cover h-full w-full sm:rounded-b-md"
        />
      </picture>
    </div>
  </div>
</header>
