@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --scroll: 0;
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
    --top-section-translate: calc(
      -1% * (max(var(--scroll), 25) - 25) * 100 / 75
    );
  }

  body {
    @apply bg-gray-200;
  }
}

@layer components {
  .full-screen-section {
    @apply h-screen relative p-4 text-center;
  }

  .images > * {
    @apply fixed w-screen bottom-0 z-10 [translate:_0_100%];
  }

  .images > .show {
    translate: 0 0;
  }
}
