@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --scroll: 0;
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
    --top-section-translate: calc(
      -1% * (max(var(--scroll), 25) - 25) * 100 / 75
    );
  }

  body {
    @apply bg-gray-200;
  }
}

@layer components {
  .full-screen-section {
    @apply h-screen relative p-4 text-center;
  }

  .images > * {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10;
    translate: 0 100%;
    transition: translate 250ms ease-in-out;
  }

  .images > .show {
    translate: 0 0;
  }

  .images :first-child {
    --scroll-var: min(var(--scroll), 30) * 50 / 30;
    width: calc(50vw + 1vw * var(--scroll-var));
    transform: translateY(calc(50% - 1% * var(--scroll-var)));
  }
}
