---
import '../styles/global.css'

export interface Props {
  title?: string
}

const { title = 'Države Svijeta' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-800 text-stone-300">
    <div class="container mt-8 mx-auto px-4">
      <slot />
    </div>
  </body>
</html>
