:root {
  --icon-px: 18px;
}

.user-list {
  margin: 0;
  padding: 0 0 0 1rem;
  width: 200px;
}

.user-list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.75rem;
}
.user-list_item + .user-list_item {
  border-top: 1px solid gray;
}

.controll-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: min-content;
}

.bi {
  width: var(--icon-px);
  height: var(--icon-px);
  fill: currentColor;
}

.btn {
  cursor: pointer;
}

.btn-icon {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  height: var(--icon-px);
}

/* utlities */
.m-0 {
  margin: 0;
}
.ms-1 {
  margin-inline-start: 0.5rem;
}
.ms-2 {
  margin-inline-start: 1rem;
}
